form.form-horizontal.form-label-left.css-form
    .row
        .col-xs-12.col-sm-6
            .row
                .col-xs-12
                    .form-group
                        label.col-sm-5 Идентификатор:
                        .col-sm-7
                            div {{payment.id}}
            .row
                .col-xs-12
                    .form-group
                        label.col-sm-5 Статус:
                        .col-sm-7
                            span.label.label-default([ngClass]="getLabelClass(payment.status)") {{payment.status | kofPaymentStatus}}
            .row
                .col-xs-12
                    .form-group
                        label.col-sm-5 Дата и время создания:
                        .col-sm-7
                            div {{payment.createdAt | date: "dd.MM.yyyy HH:mm:ss"}}
            .row
                .col-xs-12
                    .form-group
                        label.col-sm-5 Сумма списания:
                        .col-sm-7
                            div {{payment.amount | kofRoubleCurrency}} {{payment.currency | kofCurrency}}
            .row
                .col-xs-12
                    .form-group
                        label.col-sm-5 Сумма к зачислению:
                        .col-sm-7
                            div {{payment.amount - payment.fee | kofRoubleCurrency}} {{payment.currency | kofCurrency}}
            .row(*ngIf="payment.error")
                .col-xs-12
                    .form-group
                        label.col-sm-5 Сообщение об ошибке:
                        .col-sm-7
                            div {{getMessage(payment.error)}}
            div(*ngIf="isFlowInformationAvailable(payment)")
                .row
                    .col-xs-12
                        .form-group
                            label.col-sm-5 Удержан до:
                            .col-sm-7
                                div {{payment.flow.heldUntil | date: "dd.MM.yyyy HH:mm:ss"}}
                .row
                    .col-xs-12
                        .form-group
                            label.col-sm-5 По истечению срока удержания:
                            .col-sm-7
                                div {{payment.flow.onHoldExpiration | kofOnHoldExpiration}}

        .col-xs-12.col-sm-6
            div(*ngIf="payment.payer?.payerType === 'PaymentResourcePayer'")
                .row
                    .col-xs-12
                        .form-group
                            label.col-sm-5 Email плательщика:
                            .col-sm-7
                                div {{payment.payer?.contactInfo?.email}}
                .row
                    .col-xs-12
                        .form-group
                            label.col-sm-5 Fingerprint:
                            .col-sm-7
                                div {{payment.payer?.clientInfo?.fingerprint}}
                .row
                    .col-xs-12
                        .form-group
                            label.col-sm-5 IP-адрес плательщика:
                            .col-sm-7
                                div {{payment.payer?.clientInfo?.ip}}
                .row
                    .col-xs-12
                        .form-group
                            label.col-sm-5 Метод оплаты:
                            .col-sm-7
                                div {{payment.payer?.paymentToolDetails?.detailsType | kofPaymentToolDetailsType}}

                .row
                    .col-xs-12(*ngIf="payment.payer?.paymentToolDetails?.detailsType === 'PaymentToolDetailsPaymentTerminal'")
                        .form-group
                            label.col-sm-5 Провайдер:
                            .col-sm-7
                                div {{payment.payer?.paymentToolDetails?.provider | kofProviderName}}

                    .col-xs-12(*ngIf="payment.payer?.paymentToolDetails?.detailsType === 'PaymentToolDetailsDigitalWallet'")
                        .form-group
                            label.col-sm-5 Провайдер:
                            .col-sm-7
                                div {{payment.payer?.paymentToolDetails?.digitalWalletDetailsType | kofProviderName}}

                    .col-xs-12(*ngIf="payment.payer?.paymentToolDetails?.detailsType === 'PaymentToolDetailsBankCard'")
                        .form-group
                            label.col-sm-5 Данные карты:
                            .col-sm-7
                                div {{payment.payer?.paymentToolDetails?.cardNumberMask}} ({{payment.payer?.paymentToolDetails?.paymentSystem}})

                    .col-xs-12(*ngIf="payment.payer?.paymentToolDetails?.detailsType === 'PaymentToolDetailsDigitalWallet'")
                        .form-group
                            label.col-sm-5 Данные кошелька:
                            .col-sm-7
                                div {{payment.payer?.paymentToolDetails?.phoneNumberMask}}

            div(*ngIf="payment.payer?.payerType === 'CustomerPayer'")
                .row
                    .col-xs-12
                        .form-group
                            label.col-sm-5 ID плательщика:
                            .col-sm-7
                                div {{ payment.payer?.customerID }}
                .row
                    .col-xs-12
                        .form-group
                            label.col-sm-5 Email плательщика:
                            .col-sm-7
                                div {{ customer?.contactInfo?.email }}
                .row
                    .col-xs-12
                        .form-group
                            label.col-sm-5 Статус плательщика:
                            .col-sm-7
                                div {{ customer?.status | kofCustomerStatus }}