.ln_solid
.row
    .col-xs-12.col-md-4
        kof-invoice-template-payment-link([shopID]="shopID")
    .col-xs-12.col-sm-6.col-md-4
        kof-create-invoice([shopID]="shopID", (onCreate)="onCreate($event)")
    .col-xs-12.col-sm-6.col-md-4
        button.btn.btn-default.btn-lg.btn-block((click)="isSearchAction = !isSearchAction") Поиск
            i.fa(style="margin-left: 10px;", [ngClass]="{'fa-caret-down': isSearchAction, 'fa-caret-right': !isSearchAction}")
.ln_solid
div(*ngIf="isSearchAction")
    .row
        .col-xs-12
            kof-search-form([searchParams]="searchParams", [shopID]="shopID", (onSearch)="onSearch($event)", [isSearch]="isLoading")
    .ln_solid
.row
    .col-xs-12
        kof-search-result([invoices]="invoices", [searchParams]="searchParams")
        kof-paginate(
            [size]="totalCount",
            [limit]="limit",
            [offset]="offset",
            [pagesOnScreen]="10",
            (onChange)="onChangePage($event)")
