kof-loading([isLoading]="isLoading")
    div
        canvas(
            baseChart,
            [data]="data",
            [labels]="labels",
            [chartType]="type",
            [options]="options",
            [colors]="chartColors",
            height=180
        )