kof-loading([isLoading]="isLoading")
    .tile
        kof-add-shop((onChange)="onShopFieldsChange($event)")
    .actionBar
        .text-center
            a.btn.btn-danger(data-toggle="modal", data-target=".cancel-create-shop-modal", data-backdrop="false") Отмена
            a.btn.btn-success((click)="createShop()", [ngClass]="{'buttonDisabled': isShopFieldsReady === false }") Создать заявку
