kof-loading([isLoading]="isLoading")
    .tile
        kof-add-shop((onShopReady)="shopFieldsReady($event)")
    .actionBar
        .text-center
            a.btn.btn-primary((click)="stepBackward()") Отмена
            a.btn.btn-success((click)="createShop()", [ngClass]="{'buttonDisabled': isShopFieldsReady === false }") Создать заявку
