.row
    .col-md-12
        .x_panel.tile
            .x_title
                h4 Добавление нового магазина
            .x_content
                loading(is-loading="$ctrl.isLoading")
                    form.form-horizontal.form-label-left.css-form(novalidate name="form")
                        .form-group(ng-class="{'has-error': $ctrl.hasError(form.shopDetails)}")
                            label.control-label.col-md-3 Название магазина *
                            .col-md-6
                                input.form-control(type="text" ng-model="$ctrl.args.shopDetails.name" name="shopDetails" required)
                        .form-group
                            label.control-label.col-md-3 Описание магазина
                            .col-md-6
                                input.form-control(type="text" ng-model="$ctrl.args.shopDetails.description")
                        .form-group
                            label.control-label.col-md-3 Месторасположение
                            .col-md-6
                                input.form-control(type="text" ng-model="$ctrl.args.shopDetails.location")

                        .form-group(ng-class="{'has-error': $ctrl.hasError(form.contractor)}")
                            label.control-label.col-md-3 Наименование организации *
                            .col-md-6
                                input.form-control(type="text" ng-model="$ctrl.args.contractor.registeredName" name="contractor" required)
                        //.form-group
                        //    label.control-label.col-md-3 Тип юридического лица
                        //    .col-md-6
                        //        input.form-control(type="text" ng-model="$ctrl.args.contractor.legalEntity")
                        .form-group
                            label.control-label.col-md-3 Категория *
                            .col-md-6
                                select.select2_multiple.form-control.custom_select(select2 ng-model="$ctrl.args.categoryRef" required
                                    ng-options="category.categoryRef as category.name for category in $ctrl.categories")
                        .ln_solid
                        .form-group
                            .col-md-6.col-md-offset-3
                                button.btn.btn-primary(type="submit" ng-click="$ctrl.createClaim(form)" ng-disabled="form.$invalid") Создать заявку
                                a.btn.btn-default.pull-right(type="reset" ng-link="['\Shops\']") Назад
