.x_panel
    .x_title
        h5 Данные магазина
    .x_content
        kof-shop-details([shop]="shop")
.x_panel
    .x_title
        h5 Данные контракта
    .x_content
        kof-contract-details([contract]="contract")
.x_panel
    .x_title
        h5 Средство вывода
    .x_content
        kof-payout-tool-details([payoutTool]="payoutTool")
