.x_panel.tile(ng-if="$ctrl.showClaimInfo")
    .x_title
        h4 Активная заявка
    .x_content
        .row(ng-repeat="set in $ctrl.changeset")
            shop-creation(ng-if="set.modificationType == 'ShopCreation'" changeset="set")
            shop-modification(ng-if="set.modificationType == 'ShopModificationUnit'" changeset="set")
        button.btn.btn-danger.pull-right(data-toggle="modal" data-target=".revoke-modal" data-backdrop="false") Отмена заявки

.modal.fade.revoke-modal(tabindex="-1" role="dialog")
    .modal-dialog.modal-sm
        .modal-content
            .modal-header
                h4.modal-title Подтверждение
            .modal-body Отменить заявку?
            .modal-footer
                .btn-toolbar.pull-right
                    .btn-group.btn-group-sm
                        button.btn.btn-default(type="button" data-dismiss="modal") Назад
                    .btn-group.btn-group-sm
                        button.btn.btn-danger(type="button" data-dismiss="modal" ng-click="$ctrl.revoke()") Отменить заявку