.row
    .col-xs-12
        .x_panel.tile
            .x_title
                h4 Ваш приватный ключ для доступа к&nbsp;
                    a(href="https://rbkmoney.github.io/api", target="_blank")
                        u API
            .x_content
                textarea.form-control(readonly, rows="20") {{privateToken}}