.panel.panel-default
    .panel-heading((click)="show()")
        a Изменение магазина
        i.fa.pull-right.custom-chevron([ngClass]="{'fa-chevron-down': showPanel, 'fa-chevron-right': !showPanel}")
    .panel-body(*ngIf="showPanel")
        div(*ngIf="details.shopDetails")
            kof-modification-detail([displayName]="'Название магазина'", [value]="details.shopDetails.name")
            kof-modification-detail([displayName]="'Описание'", [value]="details.shopDetails.description")
            kof-modification-detail([displayName]="'Месторасположение'", [value]="details.shopDetails.location")
        div(*ngIf="details.contractor")
            kof-modification-detail([displayName]="'Наименование организации'", [value]="details.contractor.registeredName")
            kof-modification-detail([displayName]="'Тип юридического лица'", [value]="details.contractor.legalEntity")