.panel.panel-default
    .panel-heading((click)="show()")
        a {{title}}: {{shop.details.name}}
        i.fa.pull-right.custom-chevron([ngClass]="{'fa-chevron-down': showPanel, 'fa-chevron-right': !showPanel}")
    .panel-body(*ngIf="showPanel")
        kof-modification-detail([displayName]="'Название магазина'", [value]="shop.details.name")
        kof-modification-detail(*ngIf="shop.contractID", [displayName]="'Идентификатор контракта'", [value]="shop.contractID")
        kof-modification-detail(*ngIf="shop.details.description", [displayName]="'Описание'", [value]="shop.details.description")
        kof-modification-detail(*ngIf="shop.details.location && shop.details.location.url", [displayName]="'Адрес'", [value]="shop.details.location.url")
        kof-modification-detail(*ngIf="shop.callbackHandler && shop.callbackHandler.url", [displayName]="'Callback handler url'", [value]="shop.callbackHandler.url")
        kof-modification-detail(*ngIf="shop.callbackHandler && shop.callbackHandler.publicKey", [displayName]="'Callback handler public key'", [value]="shop.callbackHandler.publicKey")
        kof-modification-detail(*ngIf="shop.categoryID", [displayName]="'Идентификатор категории'", [value]="shop.categoryID")
        kof-modification-detail(*ngIf="shop.payoutToolID", [displayName]="'Идентификатор средства вывода'", [value]="shop.payoutToolID")
