.x_panel.tile
    .x_title
        h4 Добавление нового средства вывода
    .x_content
        form.form-horizontal.form-label-left.css-form(novalidate, name="form", #form="ngForm")
            h5 Валюта
            .ln_solid
            .form-group([ngClass]="{'has-error': hasError(selected_currency)}")
                .col-xs-12.col-sm-3
                    label.text-left Валюта
                .col-xs-12.col-sm-6
                    input.form-control(type="text", required, name="selected_currency",
                    [(ngModel)]="payoutTool.currency", #selected_currency="ngModel",
                    (keyup)="checkForm(form)")
            .ln_solid
            h5 Банковские реквизиты
            .ln_solid
            .form-group([ngClass]="{'has-error': hasError(bank_account)}")
                .col-xs-12.col-sm-3
                    label.text-left Расчетный счет
                .col-xs-12.col-sm-6
                    input.form-control(type="text", required, name="bank_account",
                    [(ngModel)]="payoutTool.bankAccount.account", #bank_account="ngModel",
                    (keyup)="checkForm(form)")
            .form-group([ngClass]="{'has-error': hasError(bank_name)}")
                .col-xs-12.col-sm-3
                    label.text-left Наименование банка
                .col-xs-12.col-sm-6
                    input.form-control(type="text", required, name="bank_name",
                    [(ngModel)]="payoutTool.bankAccount.bankName", #bank_name="ngModel",
                    (keyup)="checkForm(form)")
            .form-group([ngClass]="{'has-error': hasError(bank_post_account)}")
                .col-xs-12.col-sm-3
                    label.text-left Корреспондентский счет
                .col-xs-12.col-sm-6
                    input.form-control(type="text", required, name="bank_post_account",
                    [(ngModel)]="payoutTool.bankAccount.bankPostAccount", #bank_post_account="ngModel",
                    (keyup)="checkForm(form)")
            .form-group([ngClass]="{'has-error': hasError(bank_bik)}")
                .col-xs-12.col-sm-3
                    label.text-left БИК
                .col-xs-12.col-sm-6
                    input.form-control(type="text", required, name="bank_bik",
                    [(ngModel)]="payoutTool.bankAccount.bankBik", #bank_bik="ngModel",
                    (keyup)="checkForm(form)")