.x_panel.tile
    .x_title
        .row
            .col-xs-12.col-sm-12
                h4 Создание нового средства вывода
        .row
            .col-xs-12.col-sm-12
                span Поля с иконкой&nbsp;
                i.fa.fa-magic
                span &nbsp;поддерживают автозаполнение
    .x_content
        form.form-horizontal.form-label-left.css-form(novalidate, name="createPaytoolForm", #createPaytoolForm="ngForm")
            .form-group
                .col-xs-12.col-sm-3
                    label.text-left.title-label Банковские реквизиты
                .col-xs-12.col-sm-6(*ngIf="isCopyBankAccountAvailable")
                    .checkbox
                        label
                            input(type="checkbox", name="sameBankAccountChecked", [(ngModel)]="sameBankAccountChecked", (click)="copyContractBankAccount()")
                            | Совпадают с банковскими реквизитами из контракта
            .ln_solid
            .form-group([ngClass]="{'has-error': hasError(bankBik)}")
                .col-xs-12.col-sm-3
                    label.text-left БИК *
                .col-xs-12.col-sm-6
                    input.form-control.has-feedback-right.paytool-bank-suggestions(type="text", required, name="bankBik",
                        [(ngModel)]="payoutTool.bankAccount.bankBik", #bankBik="ngModel", (keyup)="emitData()")
                    i.fa.fa-magic.form-control-feedback.right(aria-hidden="true")
            .form-group([ngClass]="{'has-error': hasError(bankName)}")
                .col-xs-12.col-sm-3
                    label.text-left Наименование банка *
                .col-xs-12.col-sm-6
                    input.form-control.has-feedback-right.paytool-bank-suggestions(type="text", required, name="bankName",
                        [(ngModel)]="payoutTool.bankAccount.bankName", #bankName="ngModel", (keyup)="emitData()")
                    i.fa.fa-magic.form-control-feedback.right(aria-hidden="true")
            .form-group([ngClass]="{'has-error': hasError(bankPostAccount)}")
                .col-xs-12.col-sm-3
                    label.text-left Корреспондентский счет *
                .col-xs-12.col-sm-6
                    input.form-control(type="text", required, name="bankPostAccount",
                        [(ngModel)]="payoutTool.bankAccount.bankPostAccount", #bankPostAccount="ngModel", (keyup)="emitData()")
            .form-group([ngClass]="{'has-error': hasError(bankAccount)}")
                .col-xs-12.col-sm-3
                    label.text-left Расчетный счет *
                .col-xs-12.col-sm-6
                    input.form-control(type="text", required, name="account",
                        [(ngModel)]="payoutTool.bankAccount.account", #bankAccount="ngModel", (keyup)="emitData()")