.row.tile_count
    .col-xs-6.col-sm-4.col-md-2.tile_stats_count
        span.count_top Оборот
            .dashboard_stats_count
                kof-loading([isLoading]="isLoading")
                    div {{profit | kofRoubleCurrency}}
        span.count_bottom Рублей
    .col-xs-6.col-sm-4.col-md-2.tile_stats_count
        span.count_top Основной счет
            .dashboard_stats_count
                kof-loading([isLoading]="isLoading")
                    div {{account.general.ownAmount | kofRoubleCurrency}}
        span.count_bottom Рублей
    .col-xs-6.col-sm-4.col-md-2.tile_stats_count
        span.count_top Гарантийный счет
            .dashboard_stats_count
                kof-loading([isLoading]="isLoading")
                    div {{account.guarantee.ownAmount | kofRoubleCurrency}}
        span.count_bottom Рублей
    .col-xs-6.col-sm-4.col-md-2.tile_stats_count
        span.count_top Успешных платежей
        .dashboard_stats_count
            kof-loading([isLoading]="isLoading")
                div {{successfulCount}}
    .col-xs-6.col-sm-4.col-md-2.tile_stats_count
        span.count_top Незавершенных платежей
        .dashboard_stats_count
            kof-loading([isLoading]="isLoading")
                div {{unfinishedCount}}
    .col-xs-6.col-sm-4.col-md-2.tile_stats_count
        span.count_top Уникальных плательщиков
        .dashboard_stats_count
            kof-loading([isLoading]="isLoading")
                div {{uniqueCount}}
