table.table.table-striped
    thead
        tr
            th Идентификатор
            th Сумма к зачислению
            th Время создания
    tbody(*ngFor="let payout of payouts | async")
        tr
            td {{payout.id}}
            td {{payout.amount | kofRoubleCurrency}} ₽
            td {{payout.createdAt | date: "dd.MM.yyyy HH:mm:ss"}}
