kof-international-contractor-details(*ngIf="contractor?.entityType === 'InternationalLegalEntity'", [contractor]="contractor")
kof-russian-contractor-details(*ngIf="contractor?.entityType === 'RussianLegalEntity'", [contractor]="contractor")
