.row(*ngIf="claim")
    .col-xs-12.col-md-8.col-md-offset-2
        .x_panel
            .x_title
                .row
                    .col-xs-6
                        h5 Детали заявки
                    .col-xs-6
                        button.btn.btn-default.btn-sm.pull-right((click)="back()") Назад
            .x_content
                form.form-horizontal.form-label-left.css-form
                    .form-group
                        .col-xs-12.col-sm-4
                            label.text-left Идентификатор:
                        .col-xs-12.col-sm-8
                            div {{claim?.id}}
                    .form-group
                        .col-xs-12.col-sm-4
                            label.text-left Номер ревизии:
                        .col-xs-12.col-sm-8
                            div {{claim?.revision}}
                    .form-group
                        .col-xs-12.col-sm-4
                            label.text-left Дата и время создания:
                        .col-xs-12.col-sm-8
                            div {{claim?.createdAt | date: "dd.MM.yyyy HH:mm:ss"}}
                    .form-group(*ngIf="claim?.updatedAt")
                        .col-xs-12.col-sm-4
                            label.text-left Дата и время изменения:
                        .col-xs-12.col-sm-8
                            div {{claim?.updatedAt | date: "dd.MM.yyyy HH:mm:ss"}}
                    .form-group
                        .col-xs-12.col-sm-4
                            label.text-left Статус:
                        .col-xs-12.col-sm-8
                            div {{claim?.status | kofClaimStatus}}
                    .form-group(*ngIf="claim?.reason")
                        .col-xs-12.col-sm-4
                            label.text-left Причина:
                        .col-xs-12.col-sm-8
                            div {{claim?.reason}}
                .ln_solid
                .row(*ngIf="claim.status === 'ClaimPending'")
                    .col-xs-12
                        kof-revoke-claim([claim]="claim")

        kof-claim-modification-details(
            *ngFor="let modification of claim.changeset",
            [partyModification]="modification")
