.x_panel
    .x_title
        h4 Создание нового магазина
    .x_content
        .form_wizard.wizard_horizontal
            ul.wizard_steps
                li.first_step
                    a([ngClass]="{'done': currentStep > contractStep, 'selected': currentStep === contractStep}")
                        span.step_no 1
                        span.step_descr Контракт
                li
                    a([ngClass]="{'disabled': currentStep < paytoolStep, 'done': currentStep > paytoolStep, 'selected': currentStep === paytoolStep}")
                        span.step_no 2
                        span.step_descr Средство вывода
                li
                    a([ngClass]="{'disabled': currentStep < shopDetailsStep, 'done': currentStep > shopDetailsStep, 'selected': currentStep === shopDetailsStep}")
                        span.step_no 3
                        span.step_descr Данные магазина
        .row
            .col-xs-12.col-md-10.col-md-offset-1
                kof-selection-contract(
                    *ngIf="currentStep === contractStep",
                    (steppedForward)="goToPaytoolStep($event)"
                )
                kof-selection-paytool(
                    *ngIf="currentStep === paytoolStep",
                    (steppedForward)="goToShopDetailsStep($event)",
                    [contractDecision]="contractDecision"
                )
                kof-selection-shop-fields(
                    *ngIf="currentStep === shopDetailsStep",
                    (onCreated)="finishWizard()",
                    [payoutToolDecision]="payoutToolDecision",
                )
.modal.fade.cancel-create-shop-modal(tabindex="-1" role="dialog")
    .modal-dialog.modal-sm
        .modal-content.modal-wide
            .modal-header
                h5.modal-title Подтверждение
            .modal-body Отменить создание магазина?
            .modal-footer
                .btn-toolbar.pull-left
                    .btn-group.btn-group-sm
                        button.btn.btn-default(type="button", data-dismiss="modal") Назад
                .btn-toolbar.pull-right
                    .btn-group.btn-group-sm
                        button.btn.btn-danger(type="button", data-dismiss="modal",(click)="returnToManagement()") Отменить