.x_panel.tile
    .x_content
        form.form-horizontal.form-label-left.css-form
            .form-group
                .col-xs-12.col-sm-3
                    label.text-left Валюта
                .col-xs-12.col-sm-6
                    input.form-control(type="text", required, name="currency", #currency="ngModel",
                    [(ngModel)]="payoutAccount.currency", [disabled]="true")
            .form-group
                .col-xs-12.col-sm-3
                    label.text-left Наименование банка
                .col-xs-12.col-sm-6
                    input.form-control(type="text", required, name="bankName", #bankName="ngModel",
                    [(ngModel)]="payoutAccount.tool.bankAccount.bankName", [disabled]="true")
            .form-group
                .col-xs-12.col-sm-3
                    label.text-left Расчетный счет
                .col-xs-12.col-sm-6
                    input.form-control(type="text", required, name="bankAccount", #bankAccount="ngModel",
                    [(ngModel)]="payoutAccount.tool.bankAccount.account", [disabled]="true")
            .form-group
                .col-xs-12.col-sm-3
                    label.text-left Корреспондентский счет
                .col-xs-12.col-sm-6
                    input.form-control(type="text", required, name="bankPostAccount", #bankPostAccount="ngModel",
                    [(ngModel)]="payoutAccount.tool.bankAccount.bankPostAccount", [disabled]="true")
            .form-group
                .col-xs-12.col-sm-3
                    label.text-left БИК
                .col-xs-12.col-sm-6
                    input.form-control(type="text", required, name="bankBik", #bankBik="ngModel",
                    [(ngModel)]="payoutAccount.tool.bankAccount.bankBik", [disabled]="true")
