kof-http-error-handle
div([ngClass]="{'nav-md': !isSidebarOpened, 'nav-sm': isSidebarOpened}")
    .container.body
        .main_container
            kof-sidebar
            kof-top-panel
            .right_col.outlet
                router-outlet
