kof-http-error-handle
kof-notification-handle
div([ngClass]="{'nav-md': !isSidebarOpened, 'nav-sm': isSidebarOpened, 'sidebar-disabled': isSidebarDisabled}")
    .container.body
        .main_container
            kof-sidebar
            .right_col
                kof-top-panel
                .outlet
                    router-outlet
