.row
    .col-xs-12
        .x_panel.tile
            .x_title
                h4 Изменение данных магазина
            .x_content
                kof-loading([isLoading]="isLoading")
                    form.form-horizontal.form-label-left.css-form(novalidate, (ngSubmit)="updateShop(form)", name="form", #form="ngForm")
                        .form-group([ngClass]="{'has-error': hasError(shop_details_name)}")
                            .col-xs-12.col-sm-3
                                label.text-left Название магазина *
                            .col-xs-12.col-sm-6
                                input.form-control(type="text", required, name="shop_details_name",
                                                    [(ngModel)]="args.shopDetails.name", #shop_details_name="ngModel")
                        .form-group
                            .col-xs-12.col-sm-3
                                label.text-left Описание магазина
                            .col-xs-12.col-sm-6
                                input.form-control(type="text", name="shop_details_description", [(ngModel)]="args.shopDetails.description")
                        .form-group
                            .col-xs-12.col-sm-3
                                label.text-left Месторасположение
                            .col-xs-12.col-sm-6
                                input.form-control(type="text", name="shop_details_location", [(ngModel)]="args.shopDetails.location")
                        .form-group
                            .col-xs-12.col-sm-3
                                label.text-left Контракт
                            .col-xs-12.col-sm-3
                                input.form-control(disabled, type="text", name="contractId", [(ngModel)]="args.contractId")
                            .col-xs-12.col-sm-3
                                a.btn.btn-dark((click)="showContractDetails = !showContractDetails")
                                    span(*ngIf="showContractDetails === false") Просмотр
                                    span(*ngIf="showContractDetails === true") Скрыть
                                a.btn.btn-dark([routerLink]="['/shops/edit/', currentShopId, 'contract']") Изменение
                        .form-group(*ngIf="showContractDetails === true")
                            .col-xs-12.col-sm-3
                                label.text-left Детали контракта
                            .col-xs-12.col-sm-6
                                kof-contract-view([contract]="shopContract", [showAccounts]="false")
                        .form-group
                            .col-xs-12.col-sm-3
                                label.text-left Счет
                            .col-xs-12.col-sm-3
                                input.form-control(disabled, type="text", name="payoutAccountId", [(ngModel)]="args.payoutAccountId")
                            .col-xs-12.col-sm-3
                                a.btn.btn-dark((click)="showPayoutAccountDetails = !showPayoutAccountDetails")
                                    span(*ngIf="showPayoutAccountDetails === false") Просмотр
                                    span(*ngIf="showPayoutAccountDetails === true") Скрыть
                                a.btn.btn-dark([routerLink]="['/shops/edit/', currentShopId, 'contract', args.contractId, 'account']") Изменение
                        .form-group(*ngIf="showPayoutAccountDetails === true")
                            .col-xs-12.col-sm-3
                                label.text-left Детали счета
                            .col-xs-12.col-sm-6
                                kof-payout-account-view([payoutAccount]="shopPayoutAccount")
                        .form-group
                            .col-xs-12.col-sm-3
                                label.text-left Категория *
                            .col-xs-12.col-sm-6
                                kof-select([(ngModel)]="args.categoryRef", [items]="categories", [modelOptions]="{standalone: true}", name='category')
                        .form-group
                            .col-xs-12.col-sm-3
                                label.text-left URL для CallbackHandler
                            .col-xs-12.col-sm-6
                                input.form-control(type="text", name="callback_handler_url", [(ngModel)]="args.callbackHandlerUrl")
                        .ln_solid
                        .form-group
                            .col-xs-12.col-sm-6.col-sm-offset-3
                                button.btn.btn-primary(type="submit", [disabled]="form.invalid || form.pristine") Создать заявку
                                a.btn.btn-default.pull-right(type="reset", routerLink="/management") Назад
