table.table.table-striped
    thead
        tr
            th Идентификатор
            th.hidden-xs Временной интервал
            th Время создания
            th Статус
            th
    tbody(*ngFor="let item of filtered(reportItems)")
        tr
            td {{item.report.id}}
            td.hidden-xs {{item.report.fromTime | date: "dd.MM.yyyy"}} - {{item.report.toTime | date: "dd.MM.yyyy"}}
            td {{item.report.createdAt | date: "dd.MM.yyyy HH:mm:ss"}}
            td {{item.report.status | kofReportStatus}}
            td
                .pull-right(*ngIf="item.report.status === reportStatuses.created")
                    button.btn.btn-xs.btn-default((click)="toggleFilesPanel(item)")
                        | {{item.isVisible ? 'Скрыть' : 'Показать'}} файлы
        tr(*ngIf="item.isVisible")
            td.row(colspan="5")
                kof-report-files([files]="item.report.files", [reportID]="item.report.id")
