.tile
    kof-add-shop(
        [shopFields]="wizardArgs.shopFields",
        (readyStateChange)="shopFieldsReady($event)"
    )
.actionBar
    .text-center
        a.btn.btn-primary((click)="stepBackward()") Отмена
        a.btn.btn-default(
            (click)="finalizeWizard()",
            [ngClass]="{'buttonDisabled': isShopFieldsReady === false}"
        ) Завершить