form.form-horizontal.form-label-left.css-form
    .form-group
        .col-xs-12.col-sm-4
            label.text-left Номер правки:
        .col-xs-12.col-sm-8
            div {{adjustment?.adjustmentID}}
    .form-group
        .col-xs-12.col-sm-4
            label.text-left Номер договора:
        .col-xs-12.col-sm-8
            div {{adjustment?.contractID}}
