form.form-horizontal.form-label-left.css-form
    .form-group
        .col-xs-12.col-sm-4
            label.text-left URL сайта магазина:
        .col-xs-12.col-sm-8
            div {{modification?.location.url}}
    .form-group
        .col-xs-12.col-sm-4
            label.text-left Название магазина:
        .col-xs-12.col-sm-8
            div {{modification?.details?.name}}
    .form-group(*ngIf="modification?.details?.description")
        .col-xs-12.col-sm-4
            label.text-left Описание:
        .col-xs-12.col-sm-8
            div {{modification?.details?.description}}
