doctype html
button.btn.btn-default.btn-sm(data-toggle="modal", [attr.data-target]="'#' + invoice.id")
    | Сформировать ссылку на оплату инвойса

.modal.fade(tabindex="-1", role="dialog", id="{{invoice.id}}", data-backdrop="false")
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                button(class="close", data-dismiss="modal", aria-label="Close")
                    span(aria-hidden="true") &times;
                h4.modal-title
                    | Конфигурирование платежной формы
                    a(href="https://rbkmoney.github.io/docs/integrations/checkout/", target="_blank") &nbsp;
                        u Checkout
            .modal-body
                kof-checkout-config-form
            .modal-footer
                button.btn.btn-sm.btn-primary(*ngIf="!paymentLinkVisible", (click)="generatePaymentLink()") Сформировать ссылку на оплату
                .row(*ngIf="paymentLinkVisible")
                    .col-xs-12.col-sm-7.col-sm-offset-5
                        .input-group
                            input.form-control(type="text", #paymentLinkInput, readonly, [value]="paymentLink")
                            span.input-group-btn
                                button.btn.btn-sm.btn-primary((click)="copy()") Скопировать
