.row
    .col-xs-12.col-sm-6
        button.btn.btn-default.btn-lg.btn-block(type="button", (click)="select(action.search)") Поиск
            i.fa(style="margin-left: 10px;", [ngClass]="getClass(action.search)")
    .col-xs-12.col-sm-6
        button.btn.btn-default.btn-lg.btn-block(type="button", (click)="select(action.create)") Создать инвойс
            i.fa(style="margin-left: 10px;", [ngClass]="getClass(action.create)")