.top_nav
    nav.nav_menu
        .nav.toggle.toggle-menu
            a((click)="toggleMenu()")
                i.fa.fa-bars
        .nav.toggle.logo
            a([routerLink]=["/"])
                | RBKmoney
        .nav.toggle.shop-selector
            kof-shop-selector
        kof-top-panel-actions
