.col-md-3.left_col
    .left_col.scroll-view
        .navbar.nav_title
            a.site_title(href="/")
                span RBKmoney
        .clearfix
        #sidebar-menu.main_menu_side.hidden-print.main_menu
            .menu_section
                ul.nav.side-menu
                    li(ng-class="{active: $ctrl.isActive('/analytics')}")
                        a(ng-link="['\Analytics\']")
                            i.fa.fa-bar-chart-o
                            | Аналитика
