.tile_count
    .col-xs-6.col-sm-3.tile_stats_count
        span.count_top Основной счет
            .dashboard_stats_count
                div {{settlementBalance | async | kofRoubleCurrency}}
        span.count_bottom Рублей
    .col-xs-6.col-sm-3.tile_stats_count
        span.count_top Успешных платежей
        .dashboard_stats_count
            div {{successfulCount | async}}
    .col-xs-6.col-sm-3.tile_stats_count
        span.count_top Незавершенных платежей
        .dashboard_stats_count
            div {{unfinishedCount | async}}
    .col-xs-6.col-sm-3.tile_stats_count
        span.count_top Уникальных плательщиков
        .dashboard_stats_count
            div {{uniqueCount | async}}