kof-http-error-handle
div([ngClass]="{'nav-md': !isSidebarOpened, 'nav-sm': isSidebarOpened}")
    .container.body
        .main_container
            kof-top-panel
            kof-sidebar
            .right_col
                .outlet
                    router-outlet
