form([formGroup]="form", novalidate)
    .form-group
        .row
            .col-xs-12.col-sm-5
                label.text-left Окончание действия инвойса:
                    span.highlighted &nbsp;*
            .col-xs-12.col-sm-7
                p-calendar.search-form.ui-inputtext(formControlName="dueDate", [minDate]="minDueDate", dateFormat="dd.mm.yy", showTime="true", readonlyInput="true")
    .form-group
        .row
            .col-xs-12.col-sm-5
                label.text-left Наименование предлагаемых товаров или услуг:
                    span.highlighted &nbsp;*
            .col-xs-12.col-sm-7
                input.form-control(formControlName="product")
    .form-group
        .row
            .col-xs-12.col-sm-5
                label.text-left Описание предлагаемых товаров или услуг:
            .col-xs-12.col-sm-7
                input.form-control(formControlName="description")
    .form-group(formArrayName="cart")
        .row
            .col-xs-12
                label.text-left Список товаров и услуг:
        .row
            .col-xs-12
                .form-group(*ngFor="let product of form.controls.cart.controls; let i=index", [formGroupName]="i")
                    .row
                        .col-xs-4.col-sm-2
                            input.form-control(type="number", formControlName="price", placeholder="Стоимость")
                        .col-xs-4.col-sm-2
                            input.form-control(type="number", formControlName="quantity", placeholder="Количество")
                        .col-xs-4.col-sm-2
                            kof-select([items]="invoiceLineTaxItems", formControlName="tax", [placeholder]="'без НДС'")
                        .col-xs-10.col-sm-5
                            input.form-control(type="text", formControlName="product", placeholder="Описание")
                        .col-xs-2.col-sm-1
                            button.btn.btn-sm.btn-default.pull-right(type="button", (click)="removeProduct(i)")
                                i.fa.fa-trash
        .row
            .col-xs-12
                label.text-left Итого товаров и услуг на сумму: {{ form.value.amount }} {{form.value.currency | kofCurrency}}
                button.btn.btn-default.pull-right(type="button", (click)="addProduct()") Добавить товар или услугу
