.row
    .col-md-12
        .x_panel.tile
            .x_title
                h4 Аналитика
            .x_content
                .row
                    .col-md-5
                        form.form-horizontal
                            .form-group
                                label.control-label.col-md-2 Магазин:
                                .col-md-8
                                    shop-select(options="$ctrl.shopsDetails" selected="$ctrl.selectedShopId" on-select="$ctrl.onShopSelect()")
                    .col-md-3
                        button.btn.btn-default(ng-click="$ctrl.showStatistic()") Показать статистику

.row(ng-show="$ctrl.selectedShopId")
    .col-md-12
        .x_panel.tile
            .x_content
                ul.nav.nav-tabs.bar_tabs
                    li(ng-class="{active: $ctrl.isRouteActive(['\Dashboard\', {shopId: $ctrl.selectedShopId}])}")
                        a(ng-link="['\Dashboard\', {shopId: $ctrl.selectedShopId}]") Статистика
                    li(ng-class="{active: $ctrl.isRouteActive(['\Finance\', {shopId: $ctrl.selectedShopId}])}")
                        a(ng-link="['\Finance\', {shopId: $ctrl.selectedShopId}]") Финансы
                .tab-content
                    ng-outlet
