doctype html
kof-loading([isLoading]="isLoading")
    kof-add-shop(
        #addShopRef,
        (onChange)="onShopFieldsChange($event)"
    )
    .actionBar
        .text-center
            a.btn.btn-danger(data-toggle="modal", data-target=".cancel-create-shop-modal", data-backdrop="false") Отмена
            a.btn.btn-success((click)="createShop()") Создать заявку
