.row
    .tile_count
        .col-md-2.col-sm-4.col-xs-6.tile_stats_count(ng-repeat="info in $ctrl.statisticInfo")
            span.count_top {{info.title}}
            .dashboard_stats_count {{info.count}}
            span.count_bottom {{info.bottom}}
.row
    .col-md-12.col-sm-12.col-xs-12
        .x_panel.tile
            .x_title
                h3 Оборот
            .x_content
                turnover
.row
    .col-md-6.col-sm-6.col-xs-12
        .x_panel.tile
            .x_title
                h3 Способы оплаты
            .x_content
                payment-methods
    .col-md-6.col-sm-6.col-xs-12
        .x_panel.tile
            .x_title
                h3 Геолокация
            .x_content
                geolocation
.row
    .col-md-12.col-sm-12.col-xs-12
        .x_panel.tile
                .x_title
                    h3 Конверсия оплат
                .x_content
                    payment-conversion

