.row
    info-panel(unique-count="$ctrl.uniqueCount" successful-count="$ctrl.successfulCount"
        unfinished-count="$ctrl.unfinishedCount" profit="$ctrl.profit")
.row
    .col-md-12.col-sm-12.col-xs-12
        .x_panel.tile
            .x_title
                h4 Оборот
            .x_content
                revenue(from-time="$ctrl.fromTime" chart-data="$ctrl.revenueChartData")
.row
    .col-md-6.col-sm-6.col-xs-12
        .x_panel.tile
            .x_title
                h4 Конверсия оплат
            .x_content
                conversion(from-time="$ctrl.fromTime" chart-data="$ctrl.conversionChartData")
    .col-md-6.col-sm-6.col-xs-12
        .x_panel.tile
            .x_title
                h4 Геолокация
            .x_content
                geolocation(chart-data="$ctrl.geoChartData")

