.row
    .col-xs-12
        .x_panel.tile
            .x_title
                h4 Изменение счета по контракту {{currentContractId}} магазина {{currentShopId}}
            .x_content
                kof-loading([isLoading]="args.isLoading")
                    kof-selection-account(
                        *ngIf="currentStep === accountStep",
                        (steppedBackward)="returnToShopEditing()",
                        (steppedForward)="finish()",
                        [args]="args",
                        [showFinishButton]="true"
                    )