form.form-horizontal.form-label-left.css-form
    .row.visible-xs
        .col-xs-12
            .form-group
                label Идентификатор:
                div {{invoice.id}}
        .col-xs-12
            .form-group
                label Дата и время создания:
                div {{invoice.createdAt | date: "dd.MM.yyyy HH:mm:ss"}}
        .col-xs-12
            .form-group
                label Дата и время окончания действия:
                div {{invoice.dueDate | date: "dd.MM.yyyy HH:mm:ss"}}
    .row
        .col-xs-12.col-sm-6
            .form-group
                label Наименование предлагаемых товаров или услуг:
                div {{invoice.product}}
        .col-xs-12.col-sm-6
            .form-group
                label Описание предлагаемых товаров или услуг:
                div {{invoice.description}}
    .ln_solid
    div(*ngIf="invoice.cart?.length")
        .row
            .col-xs-12
                h5 Список товаров или услуг
        .ln_solid
        .row
            .col-xs-12
                .form-group
                    table.table.table-striped
                        thead
                            tr
                                th Стоимость
                                th Количество
                                th Сумма
                                th Налог
                                th Описание
                        tbody(*ngFor="let item of invoice.cart")
                            tr
                                td {{item.price | kofRoubleCurrency}} {{invoice.currency}}
                                td {{item.quantity}}
                                td {{item.cost | kofRoubleCurrency}} {{invoice.currency}}
                                td {{item?.taxMode?.rate || 'без НДС'}}
                                td {{item.product}}
        .ln_solid
    div(*ngIf="isPaymentLinkAvailable()")
        kof-invoice-payment-link([invoiceID]="invoice.id", [shopID]="shopID")
        .ln_solid
    div(*ngIf="searchResult?.totalCount > 0")
        .row
            .col-xs-6
                h5 Платежи
            .col-xs-6
                .pull-right
                    span Всего: {{searchResult?.totalCount}}
                    i(*ngIf="isLoading").fa.fa-cog.fa-spin.fa-lg.fa-fw
        .ln_solid
    div(*ngFor="let payment of searchResult?.payments")
        kof-payment-info([invoiceID]="invoice.id", [payment]="payment")
        .ln_solid
.row(*ngIf="searchResult?.isNextAvailable")
    .col-xs-12
        button.btn.btn-default.btn-block((click)="search()") Показать еще ...
