.row
    .col-xs-12.col-md-10.col-md-offset-1
        .x_panel
            .x_title
                h5 Реестр операций
            .x_content
                kof-date-range-selector(
                    [from]="fromTime",
                    [to]="toTime",
                    [buttonName]="'Скачать как Excel-файл'",
                    (onSelect)="exportRegistryToXLSX($event)"
                )
