form.form-horizontal.form-label-left.css-form([formGroup]="form", novalidate)
    .form-group
        .col-xs-12.col-sm-5
            label.text-left URL сайта магазина
                span.highlighted  *
        .col-xs-12.col-sm-7
            input.form-control(type="text", formControlName="url")
    .form-group
        .col-xs-12.col-sm-5
            label.text-left Название магазина
                span.highlighted  *
        .col-xs-12.col-sm-7
            input.form-control(type="text", formControlName="name")
    .form-group
        .col-xs-12.col-sm-5
            label.text-left Краткое описание
        .col-xs-12.col-sm-7
            input.form-control(type="text", formControlName="description")
