kof-loading([isLoading]="isLoading")
    div
        canvas.revenueChart(
            baseChart,
            [data]="data",
            [labels]="labels",
            [chartType]="type",
            [options]="options",
            [colors]="chartColors",
            height="80"
        )