.kof-select([ngClass]="{'has-error': hasError}")
    select.form-control([(ngModel)]="selectedValue", [ngModelOptions]="modelOptions")
        option(*ngIf="placeholder" ,[value]="''") {{placeholder}}
        option(*ngFor="let item of items", [value]="item.value") {{item.label}}
