.x_panel.tile
    .x_title
        h3 Создание нового счета
    .x_content
        form.form-horizontal.form-label-left.css-form(novalidate, (ngSubmit)="createPayoutAccount(form)", name="form", #form="ngForm")
            .form-group
                .col-xs-12.col-sm-3
                    label.control-label Валюта
                .col-xs-12.col-sm-6
                    input.form-control(type="text", required, name="currency", #currency="ngModel",
                    [(ngModel)]="newPayoutAccount.currency")
            .form-group
                .col-xs-12.col-sm-3
                    label.control-label Банк
                .col-xs-12.col-sm-6
                    input.form-control(type="text", required, name="bankName", #bankName="ngModel",
                    [(ngModel)]="newPayoutAccount.tool.bankAccount.bankName")
            .form-group
                .col-xs-12.col-sm-3
                    label.control-label Расчетный счет
                .col-xs-12.col-sm-6
                    input.form-control(type="text", required, name="bankAccount", #bankAccount="ngModel",
                    [(ngModel)]="newPayoutAccount.tool.bankAccount.account")
            .form-group
                .col-xs-12.col-sm-3
                    label.control-label Корреспондентский счет
                .col-xs-12.col-sm-6
                    input.form-control(type="text", required, name="bankPostAccount", #bankPostAccount="ngModel",
                    [(ngModel)]="newPayoutAccount.tool.bankAccount.bankPostAccount")
            .form-group
                .col-xs-12.col-sm-3
                    label.control-label БИК
                .col-xs-12.col-sm-6
                    input.form-control(type="text", required, name="bankBik", #bankBik="ngModel",
                    [(ngModel)]="newPayoutAccount.tool.bankAccount.bankBik")
            .ln_solid
            .form-group
                .col-xs-12.col-sm-6.col-sm-offset-3
                    button.btn.btn-primary.pull-right(type="submit", [disabled]="form.invalid || form.pristine || isLoading") Добавить счет
                    a.btn.btn-default(type="reset", [routerLink]="['/management/contracts']") Назад