.x_panel(*ngIf="payoutTool?.params?.bankAccount")
    .x_content
        form.form-horizontal.form-label-left.css-form
            .form-group
                .col-xs-12.col-sm-4
                    label.text-left Наименование банка
                .col-xs-12.col-sm-8 {{payoutTool.params.bankAccount.bankName}}
            .form-group
                .col-xs-12.col-sm-4
                    label.text-left Расчетный счет
                .col-xs-12.col-sm-8 {{payoutTool.params.bankAccount.account}}
            .form-group
                .col-xs-12.col-sm-4
                    label.text-left Корреспондентский счет
                .col-xs-12.col-sm-8 {{payoutTool.params.bankAccount.bankPostAccount}}
            .form-group
                .col-xs-12.col-sm-4
                    label.text-left БИК
                .col-xs-12.col-sm-8 {{payoutTool.params.bankAccount.bankBik}}