doctype html
html(ng-app="koffing" lang="en")
    head
        meta(charset="utf-8")
        base(href="/")
        title Private Office
        link(href="vendor.min.css" rel="stylesheet")
        link(href="styles.css" rel="stylesheet")
    body.nav-md
        app
        script(src="vendor.min.js")
        script(src="https://use.fontawesome.com/a5c70f40dd.js")
        script(src="source.js")
