doctype html
html(ng-app="koffing" lang="en")
    head
        title Private office
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        link(rel="stylesheet" href="vendor.css")
        script(type="text/javascript" src="vendor.js")
        script(type="text/javascript" src="bundle.js")
    body.nav-md
        .container-body
            .main_container
                .col-md-3.left_col
                    .left_col.scroll-view
                        .navbar.nav_title(style="border: 0;")
                            a.site_title(href="#")
                                span Koffing

                        .clearfix

                        #sidebar-menu.main_menu_side.hidden-print.main_menu
                            .menu-section
                                h3 General
                                ul.nav.side-menu
                                    li
                                        a Home
                                            i.fa.fa-home
                                            span.fa.fa-chevron-down
                                        ul.nav.child_menu
                                            li
                                                a(href="#") Dashboard
                                            li
                                                a(href="#") Dashboard2
                .top_nav
                    .nav_menu
                        nav(role="navigation")
                            .nav.navbar-nav.navbar-right
