kof-claims
.x_panel.tile
    .x_title
        h4 Магазины
    .x_content
        kof-loading([isLoading]="isLoading")
            table(*ngIf="shops.length").table.table-hover.table-striped
                thead
                    tr
                        th ID магазина
                        th Название магазина
                        th.hidden-xs Описание
                        th.hidden-xs Месторасположение
                        th Категория
                        th
                tbody
                    tr(*ngFor="let shop of shops",[ngClass]="{'success': shop.isSuspended, 'danger': shop.isBlocked}")
                        td {{shop.shopID}}
                        td {{shop.shopDetails.name}}
                        td.hidden-xs {{shop.shopDetails.description}}
                        td.hidden-xs {{shop.shopDetails.location}}
                        td {{getCategory(shop.categoryRef).name}}
                        td(*ngIf="shop.isSuspended && !shop.isBlocked")
                            button.btn.btn-success.btn-xs.pull-right((click)="activateShop(shop)") Активировать
                        td(*ngIf="!shop.isSuspended && !shop.isBlocked")
                            a.btn.btn-default.btn-xs.pull-right([routerLink]="['edit', shop.shopID]") Изменить данные
                        td(*ngIf="shop.isBlocked")
                            span.pull-right Заблокирован
        span(*ngIf="!shops.length") Список магазинов пуст
        a.btn.btn-primary.pull-right([routerLink]="['add']") Добавить новый магазин