kof-loading([isLoading]="isLoading")
    .text-center(*ngIf="!contracts || contracts?.length === 0")
        h4 Контракты отсутствуют
    .x_panel.tile(*ngIf="contracts?.length > 0")
        .x_title
            h4 Выбор существующего контракта
            .x_content
                .tile
                    br
                    kof-select(
                        [hasError]="errorHighlighted",
                        *ngIf="selectableItems.length",
                        [(ngModel)]="selectedContractId",
                        [items]="selectableItems",
                        (onChange)="selectContract()",
                        [modelOptions]="{standalone: true}",
                        name='selectedContract'
                    )
                .ln_solid(*ngIf="selectedContract")
                kof-contract-view([contract]="selectedContract")