table.table.table-striped
    thead
        tr
            th ID выплаты
            th Сумма вывода
            th Комиссия
            th Сумма списания
            th Дата создания
            th Статус
            th
    tbody(*ngFor="let deposit of deposits | async")
        tr
            td {{deposit.id}}
            td {{deposit.body.amount | kofRoubleCurrency}} {{withdepositdrawal.body.currency | kofCurrency}}
            td {{deposit.fee.amount | kofRoubleCurrency }} {{deposit.fee.currency | kofCurrency }}
            td {{deposit.body.amount + deposit.fee.amount | kofRoubleCurrency}} {{deposit.body.currency | kofCurrency}}
            td {{deposit.createdAt | date: "dd.MM.yyyy HH:mm:ss"}}
            td
                span.label.label-default([ngClass]="getLabelClass(deposit.status)") {{deposit.status | kofWithdrawalStatus}}
            td
                .pull-right
                    button.btn.btn-xs.btn-default((click)="gotToDepositDetails(deposit.id)") Детали
