doctype html
kof-create-paytool(
    #createPaytoolRef,
    (onChange)="onPayoutToolChange($event)"
)
.form-group
    .col-xs-12.col-sm-6.col-sm-offset-3
        button.btn.btn-primary.pull-right(
            type="submit",
            [disabled]="isLoading",
            (click)="createPayoutTool()"
        ) Добавить средство вывода
        a.btn.btn-default(type="reset", (click)="navigateBack()") Назад