form.form-horizontal.form-label-left.css-form
    .form-group
        .col-xs-12.col-sm-4
            label.text-left Валюта:
        .col-xs-12.col-sm-8
            div {{payoutTool?.currency}}
    kof-bank-account-details(*ngIf="payoutTool?.details?.detailsType === 'PayoutToolDetailsBankAccount'", [bankAccount]="payoutTool.details")
    kof-international-bank-account-details(*ngIf="payoutTool?.details?.detailsType === 'PayoutToolDetailsInternationalBankAccount'", [bankAccount]="payoutTool.details")
    div(*ngIf="payoutTool?.details?.detailsType === 'PayoutToolDetailsInternationalBankAccount' && payoutTool?.details?.correspondentBankAccount")
        .form-group
            .col-sm-12
                label.text-left КОРРЕСПОНДЕНТСКИЙ СЧЁТ
        kof-international-bank-account-details([bankAccount]="payoutTool.details.correspondentBankAccount")
