.btn-group.btn-group-justified.text-center(data-toggle="buttons")
    label.btn.btn-default((click)="selectOptionNew()")
        input(type="radio", name="way", value="new")
        span Создать новый контракт
    label.btn.btn-default((click)="selectOptionExisting()")
        input(type="radio", name="way", value="existing")
        span Выбрать существующий контракт
br
kof-create-contract(
    *ngIf="selectedOption === optionNew",
    (onChange)="onChangeContractor($event)"
)
kof-select-contract(
    *ngIf="selectedOption === optionExisting",
    (onContractSelected)="onContractSelected($event)"
)
.actionBar
    .text-center
        a.btn.btn-danger(data-toggle="modal", data-target=".cancel-create-shop-modal", data-backdrop="false") Отмена
        a.btn.btn-success((click)="stepForward()", [ngClass]="{'buttonDisabled': isContractorValid === false}") Вперед
