.x_panel.tile
    .x_title
        h4 Добавление нового контракта
    .x_content
        form.form-horizontal.form-label-left.css-form(novalidate, (ngSubmit)="createClaim(form)", name="form", #form="ngForm")
            h5 Банковские реквизиты
            .ln_solid
            .form-group([ngClass]="{'has-error': hasError(bank_account)}")
                .col-xs-12.col-sm-3
                    label.control-label Расчетный счет
                .col-xs-12.col-sm-6
                    input.form-control(type="text", required, name="bank_account",
                    [(ngModel)]="bankAccountArgs.account", #bank_account="ngModel")
            .form-group([ngClass]="{'has-error': hasError(bank_name)}")
                .col-xs-12.col-sm-3
                    label.control-label Наименование банка
                .col-xs-12.col-sm-6
                    input.form-control(type="text", required, name="bank_name",
                    [(ngModel)]="bankAccountArgs.bankName", #bank_name="ngModel")
            .form-group([ngClass]="{'has-error': hasError(bank_post_account)}")
                .col-xs-12.col-sm-3
                    label.control-label Корреспондентский счет
                .col-xs-12.col-sm-6
                    input.form-control(type="text", required, name="bank_post_account",
                    [(ngModel)]="bankAccountArgs.bankPostAccount", #bank_post_account="ngModel")
            .form-group([ngClass]="{'has-error': hasError(bank_bik)}")
                .col-xs-12.col-sm-3
                    label.control-label БИК
                .col-xs-12.col-sm-6
                    input.form-control(type="text", required, name="bank_bik",
                    [(ngModel)]="bankAccountArgs.bankBik", #bank_bik="ngModel")
            .ln_solid
            h5 Реквизиты юр. лица
            .ln_solid
            .form-group([ngClass]="{'has-error': hasError(entity_registered_name)}")
                .col-xs-12.col-sm-3
                    label.control-label Наименование юр. лица
                .col-xs-12.col-sm-6
                    input.form-control(type="text", name="entity_registered_name", required,
                    [(ngModel)]="entityArgs.registeredName", #entity_registered_name="ngModel")
            .form-group([ngClass]="{'has-error': hasError(entity_registered_number)}")
                .col-xs-12.col-sm-3
                    label.control-label Номер юр. лица
                .col-xs-12.col-sm-6
                    input.form-control(type="text", name="entity_registered_number", required,
                    [(ngModel)]="entityArgs.registeredNumber", #entity_registered_number="ngModel")
            .form-group([ngClass]="{'has-error': hasError(entity_inn)}")
                .col-xs-12.col-sm-3
                    label.control-label ИНН
                .col-xs-12.col-sm-6
                    input.form-control(type="text", name="entity_inn", required,
                    [(ngModel)]="entityArgs.inn", #entity_inn="ngModel")
            .form-group([ngClass]="{'has-error': hasError(entity_actual_address)}")
                .col-xs-12.col-sm-3
                    label.control-label Фактический адрес
                .col-xs-12.col-sm-6
                    input.form-control(type="text", name="entity_actual_address", required,
                    [(ngModel)]="entityArgs.actualAddress", #entity_actual_address="ngModel")
            .form-group([ngClass]="{'has-error': hasError(entity_post_address)}")
                .col-xs-12.col-sm-3
                    label.control-label Почтовый адрес
                .col-xs-12.col-sm-6
                    input.form-control(type="text", name="entity_post_address", required,
                    [(ngModel)]="entityArgs.postAddress", #entity_post_address="ngModel")
            .form-group([ngClass]="{'has-error': hasError(entity_representative_position)}")
                .col-xs-12.col-sm-3
                    label.control-label Позиция представителя
                .col-xs-12.col-sm-6
                    input.form-control(type="text", name="entity_representative_position", required,
                    [(ngModel)]="entityArgs.representativePosition", #entity_representative_position="ngModel")
            .form-group([ngClass]="{'has-error': hasError(entity_representative_fullname)}")
                .col-xs-12.col-sm-3
                    label.control-label ФИО представителя
                .col-xs-12.col-sm-6
                    input.form-control(type="text", name="entity_representative_fullname", required,
                    [(ngModel)]="entityArgs.representativeFullName", #entity_representative_fullname="ngModel")
            .form-group([ngClass]="{'has-error': hasError(entity_representative_document)}")
                .col-xs-12.col-sm-3
                    label.control-label Документ представителя
                .col-xs-12.col-sm-6
                    input.form-control(type="text", name="entity_representative_document", required,
                    [(ngModel)]="entityArgs.representativeDocument", #entity_representative_document="ngModel")
            .ln_solid
            .form-group
                .col-xs-12.col-sm-6.col-sm-offset-3
                    button.btn.btn-primary(type="submit", [disabled]="form.invalid") Создать заявку