form.form-horizontal.form-label-left.css-form([formGroup]="form")
    .form-group
        .col-xs-12.col-sm-5
            label.text-left Номер счета
        .col-xs-12.col-sm-7
            input.form-control.has-feedback-right(type="text", formControlName="number")
    .form-group
        .col-xs-12.col-sm-5
            label.text-left International Bank Account Number (IBAN)
        .col-xs-12.col-sm-7
            input.form-control.has-feedback-right(type="text", formControlName="iban")
    p.text-center.text-uppercase
        strong Данные международной банковской организации
    div([class]="formsClasses.bankDetailsBIC")
        .col-xs-12.col-sm-5
            label.text-left Business Identifier Code (BIC)
        .col-xs-12.col-sm-7
            input.form-control.has-feedback-right(type="text", formControlName="bankDetailsBIC")
    div([class]="formsClasses.bankDetailsABARTN")
        .col-xs-12.col-sm-5
            label.text-left ABA Routing Transit Number (ABA RTN)
        .col-xs-12.col-sm-7
            input.form-control.has-feedback-right(type="text", formControlName="bankDetailsABARTN")
    div([class]="formsClasses.bankDetailsName")
        .col-xs-12.col-sm-5
            label.text-left Наименование юридического лица банковской организации
        .col-xs-12.col-sm-7
            input.form-control.has-feedback-right(type="text", formControlName="bankDetailsName")
    div([class]="formsClasses.bankDetailsCountryCode")
        .col-xs-12.col-sm-5
            label.text-left Страна резиденции банковской организации
        .col-xs-12.col-sm-7
            input.form-control.has-feedback-right(type="text", formControlName="bankDetailsCountryCode")
            span.help-box Alpha-2 код по стандарту <a href="https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2" target="_blank">ISO 3166-1</a>
    div([class]="formsClasses.bankDetailsAddress")
        .col-xs-12.col-sm-5
            label.text-left Адрес юридического лица банковской организации
        .col-xs-12.col-sm-7
            input.form-control.has-feedback-right(type="text", formControlName="bankDetailsAddress")
    p.text-center.text-uppercase
        strong Данные корреспондентского счёта указанного банка
    div([class]="formsClasses.correspondentBankAccountBIC")
        .col-xs-12.col-sm-5
            label.text-left Business Identifier Code (BIC)
        .col-xs-12.col-sm-7
            input.form-control.has-feedback-right(type="text", formControlName="correspondentBankAccountBIC")
    div([class]="formsClasses.correspondentBankAccountABARTN")
        .col-xs-12.col-sm-5
            label.text-left ABA Routing Transit Number (ABA RTN)
        .col-xs-12.col-sm-7
            input.form-control.has-feedback-right(type="text", formControlName="correspondentBankAccountABARTN")
    div([class]="formsClasses.correspondentBankAccountName")
        .col-xs-12.col-sm-5
            label.text-left Наименование юридического лица банковской организации
        .col-xs-12.col-sm-7
            input.form-control.has-feedback-right(type="text", formControlName="correspondentBankAccountName")
    div([class]="formsClasses.correspondentBankAccountCountryCode")
        .col-xs-12.col-sm-5
            label.text-left Страна резиденции банковской организации
        .col-xs-12.col-sm-7
            input.form-control.has-feedback-right(type="text", formControlName="correspondentBankAccountCountryCode")
            span.help-box Alpha-2 код по стандарту <a href="https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2" target="_blank">ISO 3166-1</a>
    div([class]="formsClasses.correspondentBankAccountAddress")
        .col-xs-12.col-sm-5
            label.text-left Адрес юридического лица банковской организации
        .col-xs-12.col-sm-7
            input.form-control.has-feedback-right(type="text", formControlName="correspondentBankAccountAddress")