kof-international-bank-account-part-form([form]="form")
p.text-center.text-uppercase
    strong Корреспондентский счёт
kof-international-bank-account-part-form([form]="form.get('correspondentBankAccount')")