.x_title
    h4 Добавление нового магазина
.x_content
    kof-loading([isLoading]="isLoading")
        form.form-horizontal.form-label-left.css-form(novalidate, name="form", #form="ngForm")
            .form-group
                .col-xs-12.col-sm-3
                    label.text-left Категория *
                .col-xs-12.col-sm-6
                    kof-select(
                    [(ngModel)]="categoryId",
                    [items]="categories",
                    [modelOptions]="{standalone: true}",
                    name="category")
            .form-group([ngClass]="{'has-error': hasError(shop_details_name)}")
                .col-xs-12.col-sm-3
                    label.text-left Название магазина *
                .col-xs-12.col-sm-6
                    input.form-control(type="text", required, name="shop_details_name",
                    [(ngModel)]="shopDetail.name", #shop_details_name="ngModel",
                    (keyup)="checkForm(form)")
            .form-group
                .col-xs-12.col-sm-3
                    label.text-left Описание магазина
                .col-xs-12.col-sm-6
                    input.form-control(type="text", name="shop_details_description",
                    [(ngModel)]="shopDetail.description",
                    (keyup)="checkForm(form)")
            .form-group
                .col-xs-12.col-sm-3
                    label.text-left Сайт
                .col-xs-12.col-sm-6
                    input.form-control(type="text", name="shop_details_location",
                    [(ngModel)]="shopDetail.location.url",
                    (keyup)="checkForm(form)")
            .form-group
                .col-xs-12.col-sm-3
                    label.text-left CallbackHandler URL
                .col-xs-12.col-sm-6
                    input.form-control(type="text", name="callback_handler_url",
                    [(ngModel)]="callbackUrl",
                    (keyup)="checkForm(form)")
