.row
    .col-xs-12
        kof-deposits-search-form((onSearch)="onSearch($event)")
.ln_solid
.row
    .col-xs-12
        kof-deposits-search-result([deposits]="deposits")
        kof-stepper((onChange)="onChangePage($event)", [hasNext]="hasNext()", [page]="page + 1")
