div(*ngIf="!shop.isBlocked")
    div(*ngIf="!shop.isSuspended")
        a.btn.btn-xs.btn-danger.pull-right(data-toggle="modal", data-target=".suspend-modal", data-backdrop="false") Заморозить магазин
    div(*ngIf="shop.isSuspended")
        button.btn.btn-success.btn-xs.pull-right((click)="activateShop()") Активировать
    a.btn.btn-default.btn-xs.pull-right(
        *ngIf="!claimFound",
        [routerLink]="['/', 'shops', shop.id, 'edit']"
    ) Изменить данные
dl(*ngIf="shop?.details?.description")
    dt Описание
    dd {{shop.details.description}}
div(*ngIf="shop.callbackHandler")
    dl
        dt CallbackHandler URL
        dd {{shop.callbackHandler.url}}
    dl
        dt CallbackHandler public key
        dd.public-key-container {{shop.callbackHandler.publicKey}}

.modal.fade.suspend-modal(tabindex="-1" role="dialog")
    .modal-dialog.modal-sm
        .modal-content.modal-wide
            .modal-header
                h5.modal-title Подтверждение
            .modal-body Заморозить магазин {{shop.shopID}}?
            .modal-footer
                .btn-toolbar.pull-left
                    .btn-group.btn-group-sm
                        button.btn.btn-default(type="button", data-dismiss="modal") Назад
                .btn-toolbar.pull-right
                    .btn-group.btn-group-sm
                        button.btn.btn-danger(type="button", data-dismiss="modal",(click)="suspendShop(reason)") Заморозить