div(*ngIf="!shop.isSuspended && !shop.isBlocked")
    a.btn.btn-xs.btn-danger.pull-right(data-toggle="modal", data-target=".suspend-modal", data-backdrop="false") Заморозить магазин
a.btn.btn-default.btn-xs.pull-right([routerLink]="['/', 'shops', shop.id, 'edit']") Изменить данные
div(*ngIf="shop.callbackHandler")
    dl
        dt CallbackHandler url
        dd {{shop.callbackHandler.url}}
    dl
        dt CallbackHandler public key
        dd.public-key-container {{shop.callbackHandler.publicKey}}

.modal.fade.suspend-modal(tabindex="-1" role="dialog")
    .modal-dialog.modal-sm
        .modal-content.modal-wide
            .modal-header
                h5.modal-title Подтверждение заморозки магазина {{shop.shopID}}
            .modal-footer
                .btn-toolbar.pull-left
                    .btn-group.btn-group-sm
                        button.btn.btn-default(type="button", data-dismiss="modal") Назад
                .btn-toolbar.pull-right
                    .btn-group.btn-group-sm
                        button.btn.btn-danger(type="button", data-dismiss="modal",(click)="suspendShop(reason)") Заморозить магазин