.row
    .col-xs-12.col-md-10.col-md-offset-1
        .x_panel
            .x_title
                h5 Действия
            .x_content
                .row
                    .col-xs-12.col-sm-6.col-md-3
                        kof-create-invoice([shopID]="shopID", (onCreate)="onCreate($event)")
                    .col-xs-12.col-sm-6.col-md-3
                        kof-invoice-template-payment-link([shopID]="shopID")
        .x_panel
            .x_title
                h5 Поиск инвойсов
            .x_content
                .row
                    .col-xs-12
                        kof-search-form((onSearch)="onSearch($event)")
                .ln_solid
                .row
                    .col-xs-12
                        kof-search-result([invoices]="invoices")
                        kof-paginate(
                            [size]="totalCount",
                            [limit]="limit",
                            [offset]="offset",
                            [pagesOnScreen]="10",
                            (onChange)="onChangePage($event)")
