form.form-horizontal.form-label-left.css-form
    .form-group
        .col-xs-12.col-sm-4
            label.text-left Наименование:
        .col-xs-12.col-sm-8
            div {{contractor?.legalName}}
    .form-group
        .col-xs-12.col-sm-4
            label.text-left Торговое наименование:
        .col-xs-12.col-sm-8
            div {{contractor?.tradingName}}
    .form-group
        .col-xs-12.col-sm-4
            label.text-left Адрес места регистрации:
        .col-xs-12.col-sm-8
            div {{contractor?.registeredOffice}}
    .form-group
        .col-xs-12.col-sm-4
            label.text-left Адрес места нахождения:
        .col-xs-12.col-sm-8
            div {{contractor?.principalPlaceOfBusiness}}
