claims
.x_panel.tile
    .x_title
        h4 Магазины
    .x_content
        loading(is-loading="$ctrl.isLoading")
            table.table.table-hover.table-striped
                thead
                    tr
                        th Название магазина
                        th Описание
                        th Месторасположение
                        th
                tbody
                    tr(ng-repeat="shop in $ctrl.shops" ng-class="{'success': shop.isSuspended, 'danger': shop.isBlocked}")
                        td {{shop.shopDetails.name}}
                        td {{shop.shopDetails.description}}
                        td {{shop.shopDetails.location}}
                        td(ng-if="shop.isSuspended && !shop.isBlocked")
                            button.btn.btn-success.btn-xs.pull-right(ng-click="$ctrl.activate(shop)") Активировать
                        td(ng-if="!shop.isSuspended && !shop.isBlocked")
                            a.btn.btn-default.btn-xs.pull-right(ng-link="['\EditShop\', {shopId: shop.shopID}]") Изменить данные
                        td(ng-if="shop.isBlocked")
                            span.pull-right Заблокирован
        a.btn.btn-primary.pull-right(ng-link="['\AddShop\']") Добавить новый магазин