.date-range-selector {
    p-calendar {
        display: inline-block;
        margin: 2px 0 2px 4px;
    }
    input.ui-inputtext {
        margin: 0;
        font-size: 14px;
        line-height: 24px;
    }
    .has-error input.ui-inputtext {
        border-color: #a94442;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    }
    button {
        margin: 2px 0 2px 4px;
    }
    .control-label {
        margin-left: 4px;
    }
}
