.x_content
    kof-loading([isLoading]="isLoading")
        table.table.table-striped(*ngIf="contracts.length")
            thead
                tr
                    th ID
                    th Дата заключения
                    th.hidden-xs Дата истечения
                    th.hidden-xs Название организации
                    th ИНН организации
                    th Статус
            tbody(*ngFor="let contract of contracts")
                tr((click)="selectContract(contract)")
                    td {{contract.id}}
                    td {{contract.validSince | date:"dd.MM.yyyy"}}
                    td.hidden-xs {{contract.validUntil | date:"dd.MM.yyyy"}}
                    td.hidden-xs {{contract?.contractor?.legalEntity ? contract.contractor.legalEntity.registeredName : null}}
                    td {{contract?.contractor?.legalEntity ? contract.contractor.legalEntity.inn : null}}
                    td {{!!contract.terminatedAt ? 'завершен' : !contract.validSince ? 'в&nbsp;обработке' : 'активен'}}
                tr(*ngIf="contract === selectedContract")
                    td(colspan=6)
                        kof-contract-view([contract]="contract")
                        .x_panel.tile
                            label Средства вывода
                            .x_content
                                kof-payout-tools([contractID]="contract.id", [claimFound]="claimFound")
        a.btn.btn-primary.pull-right(
            *ngIf="!claimFound",
            [routerLink]="['/management/contracts/create']"
        ) Создать контракт
