.x_content
    kof-loading([isLoading]="isLoading")
        table.table.table-striped(*ngIf="contracts.length")
            thead
                tr
                    th ID договора
                    th Дата заключения
                    th.hidden-xs Дата завершения
                    th.hidden-xs Название организации
                    th ИНН организации
                    th Статус
            tbody(*ngFor="let contract of contracts; let index = index")
                tr((click)="selectedIndex = index")
                    td {{contract.id}}
                    td {{contract.concludedAt | date:"dd.MM.yyyy"}}
                    td.hidden-xs {{contract.terminatedAt | date:"dd.MM.yyyy"}}
                    td.hidden-xs {{contract.contractor.entity.registeredName}}
                    td {{contract.contractor.entity.inn}}
                    td {{!!contract.terminatedAt ? 'завершен' : !contract.concludedAt ? 'в&nbsp;обработке' : 'активен'}}
                tr(*ngIf="index === selectedIndex")
                    td(colspan=6)
                        kof-contract-view([contract]="contract")
        span(*ngIf="!contracts.length") Список договоров пуст
    a.btn.btn-primary.pull-right([routerLink]="['/management/contracts/create']") Составить новый договор
