.top_nav
    nav.nav_menu
        .nav.toggle.logo
            a([routerLink]=["/"])
                | RBKmoney
        ol.breadcrumb.landing-top-panel-breadcrumb(*ngIf="breadcrumbConfig.length > 1")
            li(*ngFor="let config of breadcrumbConfig", [ngClass]="{'active': !config.routerLink}")
                a(*ngIf="config.routerLink", [routerLink]="config.routerLink") {{config.label}}
                span(*ngIf="!config.routerLink") {{config.label}}
        kof-top-panel-actions