.x_panel.tile(*ngIf="showClaimInfo")
    .x_title
        h4 Активная заявка
    .x_content
        div(*ngFor="let set of changeset")
            kof-shop-modification(*ngIf="set.partyModificationType === 'ShopModification' && set.shopModificationType === 'ShopUpdate'", [shop]="set.details")
            kof-shop-account-creation(*ngIf="set.partyModificationType === 'ShopModification' && set.shopModificationType === 'ShopAccountCreation'")
            kof-shop-creation(*ngIf="set.partyModificationType === 'ShopCreation'", [shop]="set.shop")
            kof-contract-creation(*ngIf="set.partyModificationType === 'ContractCreation'", [contract]="set.contract")
            kof-payout-tool-creation(*ngIf="set.partyModificationType === 'ContractModification' && set.contractModificationType === 'ContractPayoutToolCreation'", [payoutTool]="set.payoutTool")
        button.btn.btn-danger.pull-right(data-toggle="modal" data-target=".revoke-modal" data-backdrop="false") Отмена заявки

.modal.fade.revoke-modal(tabindex="-1" role="dialog")
    .modal-dialog.modal-sm
        .modal-content
            .modal-header
                h5.modal-title Подтверждение отмены заявки
            .modal-body Введите причину отмены
                textarea.form-control(required, [(ngModel)]="revokeReason", #reason="ngModel")
            .modal-footer
                .btn-toolbar.pull-left
                    .btn-group.btn-group-sm
                        button.btn.btn-default(type="button", data-dismiss="modal") Назад
                .btn-toolbar.pull-right
                    .btn-group.btn-group-sm
                        button.btn.btn-danger(*ngIf="reason.valid", type="button", data-dismiss="modal",(click)="revoke(reason)") Отменить заявку
