.row
    .col-xs-12.col-sm-7.col-sm-offset-5
        .checkbox
            label
                input(type="checkbox",
                    name="copyBankAccount",
                    [(ngModel)]="isCopyBankAccount",
                    (change)="copyBankAccount()")
                span Использовать банковские реквизиты из контракта
.ln_solid
kof-bank-account-form([form]="form")
