.row
    .col-xs-12
        form.form-inline.form-label-right
            .form-group
                label.control-label Статистика с&nbsp;
                .ui-calendar
                    p-calendar.ui-inputtext.statistics([(ngModel)]="fromTime", name="fromTime", dateFormat="dd.mm.yy", [ngClass]="{'has-error': isInvalidDate}", (onSelect)="selectFromTime()")
            .form-group
                label.control-label &nbsp;&nbsp;по&nbsp;
                .ui-calendar
                    p-calendar.ui-inputtext.statistics([(ngModel)]="toTime", name="toTime", dateFormat = "dd.mm.yy", [ngClass]="{'has-error': isInvalidDate}", (onSelect)="selectToTime()")
            span &nbsp;
            button.btn.btn-default(style="margin-bottom: 0; margin-right: 0; margin-left: 5px;", (click)="loadData()") Показать
.row
    .col-xs-12
        .tile_count
            .col-xs-6.col-sm-4.col-md-2.tile_stats_count
                span.count_top Оборот
                    .dashboard_stats_count
                        kof-loading([isLoading]="revenueLoading")
                            div {{profit | kofRoubleCurrency}}
                span.count_bottom Рублей
            .col-xs-6.col-sm-4.col-md-2.tile_stats_count
                span.count_top Основной счет
                    .dashboard_stats_count
                        kof-loading([isLoading]="settlementLoading")
                            div {{settlementBalance | kofRoubleCurrency}}
                span.count_bottom Рублей
            .col-xs-6.col-sm-4.col-md-2.tile_stats_count
                span.count_top Гарантийный счет
                    .dashboard_stats_count
                        kof-loading([isLoading]="guaranteeLoading")
                            div {{guaranteeBalance | kofRoubleCurrency}}
                span.count_bottom Рублей
            .col-xs-6.col-sm-4.col-md-2.tile_stats_count
                span.count_top Успешных платежей
                .dashboard_stats_count
                    kof-loading([isLoading]="conversionLoading")
                        div {{successfulCount}}
            .col-xs-6.col-sm-4.col-md-2.tile_stats_count
                span.count_top Незавершенных платежей
                .dashboard_stats_count
                    kof-loading([isLoading]="conversionLoading")
                        div {{unfinishedCount}}
            .col-xs-6.col-sm-4.col-md-2.tile_stats_count
                span.count_top Уникальных плательщиков
                .dashboard_stats_count
                    kof-loading([isLoading]="rateLoading")
                        div {{uniqueCount}}
.row
    .col-xs-12
        .x_panel
            .x_title
                h4 Оборот
            .x_content
                kof-loading([isLoading]="revenueLoading")
                    kof-revenue([fromTime]="fromTime", [chartData]="revenueChartData")
.row
    .col-xs-12
        .x_panel
            .x_title
                h4 Конверсия оплат
            .x_content
                kof-loading([isLoading]="conversionLoading")
                    kof-conversion([fromTime]="fromTime", [chartData]="conversionChartData")
.row
    .col-xs-12.col-sm-6
        .x_panel
            .x_title
                h4 Способы оплаты
            .x_content
                kof-loading([isLoading]="paymentMethodLoading")
                    kof-payment-method([chartData]="paymentMethodChartData")
    .col-xs-12.col-sm-6
        .x_panel
            .x_title
                h4 Геолокация
            .x_content
                kof-loading([isLoading]="geoLoading")
                    kof-geolocation([chartData]="geoChartData")