.tile_count
    .col-md-2.tile_stats_count
        span.count_top Оборот
            .dashboard_stats_count
                loading(is-loading="$ctrl.profitLoading")
                    div {{$ctrl.profit | roubleCurrency}}
        span.count_bottom Рублей
    .col-md-2.tile_stats_count
        span.count_top Основной счет
            .dashboard_stats_count
                loading(is-loading="$ctrl.accountsLoading")
                    div {{$ctrl.account.general.availableAmount | roubleCurrency}}
        span.count_bottom Рублей
    .col-md-2.tile_stats_count
        span.count_top Гарантийный счет
            .dashboard_stats_count
                loading(is-loading="$ctrl.accountsLoading")
                    div {{$ctrl.account.guarantee.availableAmount | roubleCurrency}}
        span.count_bottom Рублей
    .col-md-2.tile_stats_count
        span.count_top Успешных платежей
        .dashboard_stats_count
            loading(is-loading="$ctrl.successfulCountLoading")
                div {{$ctrl.successfulCount}}
    .col-md-2.tile_stats_count
        span.count_top Незавершенных платежей
        .dashboard_stats_count
            loading(is-loading="$ctrl.unfinishedCountLoading")
                div {{$ctrl.unfinishedCount}}
    .col-md-2.tile_stats_count
        span.count_top Уникальных плательщиков
        .dashboard_stats_count
            loading(is-loading="$ctrl.uniqueCountLoading")
                div {{$ctrl.uniqueCount}}
