form.form-horizontal.form-label-left.css-form([formGroup]="form")
    .form-group
        .col-xs-12.col-sm-5
            label.text-left Номер счета
        .col-xs-12.col-sm-7
            input.form-control.has-feedback-right(type="text", formControlName="number")
    .form-group
        .col-xs-12.col-sm-5
            label.text-left International Bank Account Number (IBAN)
        .col-xs-12.col-sm-7
            input.form-control.has-feedback-right(type="text", formControlName="iban")
    div([class]="formsClasses.bic")
        .col-xs-12.col-sm-5
            label.text-left Business Identifier Code (BIC)
        .col-xs-12.col-sm-7
            input.form-control.has-feedback-right(type="text", formControlName="bic")
    div([class]="formsClasses.abaRtn")
        .col-xs-12.col-sm-5
            label.text-left ABA Routing Transit Number (ABA RTN)
        .col-xs-12.col-sm-7
            input.form-control.has-feedback-right(type="text", formControlName="abaRtn")
    div([class]="formsClasses.name")
        .col-xs-12.col-sm-5
            label.text-left Наименование юридического лица банковской организации
        .col-xs-12.col-sm-7
            input.form-control.has-feedback-right(type="text", formControlName="name")
    div([class]="formsClasses.countryCode")
        .col-xs-12.col-sm-5
            label.text-left Страна резиденции банковской организации
        .col-xs-12.col-sm-7
            input.form-control.has-feedback-right(type="text", formControlName="countryCode")
            span.help-box <a href="https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3" target="_blank">Alpha-3 код</a> по стандарту <a href="https://en.wikipedia.org/wiki/ISO_3166-1" target="_blank">ISO 3166-1</a>. Примеры: USA, GBR, DEU...
    div([class]="formsClasses.address")
        .col-xs-12.col-sm-5
            label.text-left Адрес юридического лица банковской организации
        .col-xs-12.col-sm-7
            input.form-control.has-feedback-right(type="text", formControlName="address")