.row
    .col-xs-12.col-md-10.col-md-offset-1
        .x_panel
            .x_title
                h5 Кошельки
            .x_content
                .row
                    .col-xs-12
                        kof-wallets-table

        .x_panel
            .x_title
                h5 Поиск выводов
            .x_content
                .row
                    .col-xs-12
                        kof-wallets-withdrawal