.x_panel.tile
    .x_content
        form.form-horizontal.form-label-left.css-form
            .form-group
                .col-xs-12.col-sm-3
                    label.text-left Дата заключения
                .col-xs-12.col-sm-6
                    input.form-control(type="text", required, name="concludedAt", #concludedAt="ngModel",
                    [ngModel]="contract.concludedAt | date:'dd.MM.yy'", [disabled]="true")
            .form-group
                .col-xs-12.col-sm-3
                    label.text-left Дата завершения
                .col-xs-12.col-sm-6
                    input.form-control(type="text", required, name="terminatedAt", #terminatedAt="ngModel",
                    [ngModel]="contract.terminatedAt | date:'dd.MM.yy'", [disabled]="true")
            .ln_solid
            h5 Банковские реквизиты
            .ln_solid
            .form-group
                .col-xs-12.col-sm-3
                    label.text-left Наименование банка
                .col-xs-12.col-sm-6
                    input.form-control(type="text", required, name="bankName", #bankName="ngModel",
                    [ngModel]="contract.contractor.bankAccount.bankName", [disabled]="true")
            .form-group
                .col-xs-12.col-sm-3
                    label.text-left Расчетный счет
                .col-xs-12.col-sm-6
                    input.form-control(type="text", required, name="bankAccount", #bankAccount="ngModel",
                    [ngModel]="contract.contractor.bankAccount.account", [disabled]="true")
            .form-group
                .col-xs-12.col-sm-3
                    label.text-left Корреспондентский счет
                .col-xs-12.col-sm-6
                    input.form-control(type="text", required, name="bankPostAccount", #bankPostAccount="ngModel",
                    [ngModel]="contract.contractor.bankAccount.bankPostAccount", [disabled]="true")
            .form-group
                .col-xs-12.col-sm-3
                    label.text-left БИК
                .col-xs-12.col-sm-6
                    input.form-control(type="text", required, name="bankBik", #bankBik="ngModel",
                    [ngModel]="contract.contractor.bankAccount.bankBik", [disabled]="true")
            .ln_solid
            h5 Реквизиты юр. лица
            .ln_solid
            .form-group
                .col-xs-12.col-sm-3
                    label.text-left Наименование юр. лица
                .col-xs-12.col-sm-6
                    input.form-control(type="text", required, name="registeredName", #registeredName="ngModel",
                    [ngModel]="contract.contractor.entity.registeredName", [disabled]="true")
            .form-group
                .col-xs-12.col-sm-3
                    label.text-left ОГРН
                .col-xs-12.col-sm-6
                    input.form-control(type="text", required, name="registeredNumber", #registeredNumber="ngModel",
                    [ngModel]="contract.contractor.entity.registeredNumber", [disabled]="true")
            .form-group
                .col-xs-12.col-sm-3
                    label.text-left ИНН
                .col-xs-12.col-sm-6
                    input.form-control(type="text", required, name="inn", #inn="ngModel",
                    [ngModel]="contract.contractor.entity.inn", [disabled]="true")
            .form-group
                .col-xs-12.col-sm-3
                    label.text-left Фактический адрес
                .col-xs-12.col-sm-6
                    input.form-control(type="text", required, name="actualAddress", #actualAddress="ngModel",
                    [ngModel]="contract.contractor.entity.actualAddress", [disabled]="true")
            .form-group
                .col-xs-12.col-sm-3
                    label.text-left Почтовый адрес
                .col-xs-12.col-sm-6
                    input.form-control(type="text", required, name="postAddress", #postAddress="ngModel",
                    [ngModel]="contract.contractor.entity.postAddress", [disabled]="true")
            .form-group
                .col-xs-12.col-sm-3
                    label.text-left Должность ЕИО/представителя
                .col-xs-12.col-sm-6
                    input.form-control(type="text", required, name="representativePosition", #representativePosition="ngModel",
                    [ngModel]="contract.contractor.entity.representativePosition", [disabled]="true")
            .form-group
                .col-xs-12.col-sm-3
                    label.text-left ФИО ЕИО/представителя
                .col-xs-12.col-sm-6
                    input.form-control(type="text", required, name="representativeFullname", #representativeFullname="ngModel",
                    [ngModel]="contract.contractor.entity.representativeFullName", [disabled]="true")
            .form-group
                .col-xs-12.col-sm-3
                    label.text-left Документ ЕИО/представителя
                .col-xs-12.col-sm-6
                    input.form-control(type="text", required, name="representativeDocument", #representativeDocument="ngModel",
                    [ngModel]="contract.contractor.entity.representativeDocument", [disabled]="true")
            .container(*ngIf="showAccounts === true")
                .ln_solid
                h5 Счета
                .ln_solid
                table.table.table-striped(*ngIf="contract.payoutAccounts.length")
                    thead
                        tr
                            th ID счета
                            th Валюта
                            th Банк
                            th Расчетный счет
                    tbody(*ngFor="let payoutAccount of contract.payoutAccounts; let index = index")
                        tr((click)="selectedIndex = index")
                            td {{payoutAccount.id}}
                            td {{payoutAccount.currency}}
                            td {{payoutAccount.tool.bankAccount.bankName}}
                            td {{payoutAccount.tool.bankAccount.account}}
                        tr(*ngIf="index === selectedIndex")
                            td(colspan=4)
                                kof-payout-account-view([payoutAccount]="payoutAccount")
                span(*ngIf="!contract.payoutAccounts.length") Нет привязанных счетов
                a.btn.btn-primary.pull-right([routerLink]="['/management/contracts', contract.id, 'payout-account', 'create']") Добавить счет
