.x_panel.tile
    .x_content
        form.form-horizontal.form-label-left.css-form
            .form-group
                .col-xs-12.col-sm-4
                    label.text-left Дата заключения
                .col-xs-12.col-sm-8
                    input.form-control(type="text", required, name="validSince", #validSince="ngModel",
                    [ngModel]="contract.validSince | date:'dd.MM.yy'", [disabled]="true")
            .form-group
                .col-xs-12.col-sm-4
                    label.text-left Дата истечения
                .col-xs-12.col-sm-8
                    input.form-control(type="text", required, name="validUntil", #validUntil="ngModel",
                    [ngModel]="contract.validUntil | date:'dd.MM.yy'", [disabled]="true")
            .form-group
                .col-xs-12.col-sm-4
                    label.text-left Дата завершения
                .col-xs-12.col-sm-8
                    input.form-control(type="text", required, name="terminatedAt", #terminatedAt="ngModel",
                    [ngModel]="contract.terminatedAt | date:'dd.MM.yy'", [disabled]="true")
            .ln_solid
            h5 Банковские реквизиты
            .ln_solid
            .form-group
                .col-xs-12.col-sm-4
                    label.text-left Наименование банка
                .col-xs-12.col-sm-8
                    input.form-control(type="text", required, name="bankName", #bankName="ngModel",
                    [ngModel]="contract.contractor.bankAccount.bankName", [disabled]="true")
            .form-group
                .col-xs-12.col-sm-4
                    label.text-left Расчетный счет
                .col-xs-12.col-sm-8
                    input.form-control(type="text", required, name="bankAccount", #bankAccount="ngModel",
                    [ngModel]="contract.contractor.bankAccount.account", [disabled]="true")
            .form-group
                .col-xs-12.col-sm-4
                    label.text-left Корреспондентский счет
                .col-xs-12.col-sm-8
                    input.form-control(type="text", required, name="bankPostAccount", #bankPostAccount="ngModel",
                    [ngModel]="contract.contractor.bankAccount.bankPostAccount", [disabled]="true")
            .form-group
                .col-xs-12.col-sm-4
                    label.text-left БИК
                .col-xs-12.col-sm-8
                    input.form-control(type="text", required, name="bankBik", #bankBik="ngModel",
                    [ngModel]="contract.contractor.bankAccount.bankBik", [disabled]="true")
            .ln_solid
            h5 Реквизиты юр. лица
            .ln_solid
            .form-group
                .col-xs-12.col-sm-4
                    label.text-left Наименование юр. лица
                .col-xs-12.col-sm-8
                    input.form-control(type="text", required, name="registeredName", #registeredName="ngModel",
                    [ngModel]="contract.contractor.legalEntity.registeredName", [disabled]="true")
            .form-group
                .col-xs-12.col-sm-4
                    label.text-left ОГРН
                .col-xs-12.col-sm-8
                    input.form-control(type="text", required, name="registeredNumber", #registeredNumber="ngModel",
                    [ngModel]="contract.contractor.legalEntity.registeredNumber", [disabled]="true")
            .form-group
                .col-xs-12.col-sm-4
                    label.text-left ИНН
                .col-xs-12.col-sm-8
                    input.form-control(type="text", required, name="inn", #inn="ngModel",
                    [ngModel]="contract.contractor.legalEntity.inn", [disabled]="true")
            .form-group
                .col-xs-12.col-sm-4
                    label.text-left Фактический адрес
                .col-xs-12.col-sm-8
                    input.form-control(type="text", required, name="actualAddress", #actualAddress="ngModel",
                    [ngModel]="contract.contractor.legalEntity.actualAddress", [disabled]="true")
            .form-group
                .col-xs-12.col-sm-4
                    label.text-left Почтовый адрес
                .col-xs-12.col-sm-8
                    input.form-control(type="text", required, name="postAddress", #postAddress="ngModel",
                    [ngModel]="contract.contractor.legalEntity.postAddress", [disabled]="true")
            .form-group
                .col-xs-12.col-sm-4
                    label.text-left Должность ЕИО/представителя
                .col-xs-12.col-sm-8
                    input.form-control(type="text", required, name="representativePosition", #representativePosition="ngModel",
                    [ngModel]="contract.contractor.legalEntity.representativePosition", [disabled]="true")
            .form-group
                .col-xs-12.col-sm-4
                    label.text-left ФИО ЕИО/представителя
                .col-xs-12.col-sm-8
                    input.form-control(type="text", required, name="representativeFullname", #representativeFullname="ngModel",
                    [ngModel]="contract.contractor.legalEntity.representativeFullName", [disabled]="true")
            .form-group
                .col-xs-12.col-sm-4
                    label.text-left Документ ЕИО/представителя
                .col-xs-12.col-sm-8
                    input.form-control(type="text", required, name="representativeDocument", #representativeDocument="ngModel",
                    [ngModel]="contract.contractor.legalEntity.representativeDocument", [disabled]="true")
            .container(*ngIf="isShowPayoutTools")
                .ln_solid
                h5 Счета
                .ln_solid
                kof-payout-tools([contractID]="contract.id")
