.x_panel.tile(*ngIf="contract")
    .x_content
        form.form-horizontal.form-label-left.css-form
            .form-group
                .col-xs-12.col-sm-4
                    label.text-left Дата заключения
                .col-xs-12.col-sm-8
                    div {{contract.validSince | date:'dd.MM.yy'}}
            .form-group(*ngIf="contract.validUntil")
                .col-xs-12.col-sm-4
                    label.text-left Дата истечения
                .col-xs-12.col-sm-8
                    div {{contract.validUntil | date:'dd.MM.yy'}}
            .form-group(*ngIf="contract.terminatedAt")
                .col-xs-12.col-sm-4
                    label.text-left Дата завершения
                .col-xs-12.col-sm-8
                    div {{contract.terminatedAt | date:'dd.MM.yy'}}
            div(*ngIf="contract.contractor")
                .ln_solid
                div(*ngIf="contract.contractor.bankAccount")
                    h5 Банковские реквизиты
                    .ln_solid
                    .form-group
                        .col-xs-12.col-sm-4
                            label.text-left Наименование банка
                        .col-xs-12.col-sm-8 {{contract.contractor.bankAccount.bankName}}
                    .form-group
                        .col-xs-12.col-sm-4
                            label.text-left Расчетный счет
                        .col-xs-12.col-sm-8 {{contract.contractor.bankAccount.account}}
                    .form-group
                        .col-xs-12.col-sm-4
                            label.text-left Корреспондентский счет
                        .col-xs-12.col-sm-8 {{contract.contractor.bankAccount.bankPostAccount}}
                    .form-group
                        .col-xs-12.col-sm-4
                            label.text-left БИК
                        .col-xs-12.col-sm-8 {{contract.contractor.bankAccount.bankBik}}
                div(*ngIf="contract.contractor.legalEntity")
                    .ln_solid
                    h5 Реквизиты юр. лица
                    .ln_solid
                    .form-group
                        .col-xs-12.col-sm-4
                            label.text-left Наименование юр. лица
                        .col-xs-12.col-sm-8 {{contract.contractor.legalEntity.registeredName}}
                    .form-group
                        .col-xs-12.col-sm-4
                            label.text-left ОГРН
                        .col-xs-12.col-sm-8 {{contract.contractor.legalEntity.registeredNumber}}
                    .form-group
                        .col-xs-12.col-sm-4
                            label.text-left ИНН
                        .col-xs-12.col-sm-8 {{contract.contractor.legalEntity.inn}}
                    .form-group
                        .col-xs-12.col-sm-4
                            label.text-left Фактический адрес
                        .col-xs-12.col-sm-8 {{contract.contractor.legalEntity.actualAddress}}
                    .form-group
                        .col-xs-12.col-sm-4
                            label.text-left Почтовый адрес
                        .col-xs-12.col-sm-8 {{contract.contractor.legalEntity.postAddress}}
                    .form-group
                        .col-xs-12.col-sm-4
                            label.text-left Должность ЕИО/представителя
                        .col-xs-12.col-sm-8 {{contract.contractor.legalEntity.representativePosition}}
                    .form-group
                        .col-xs-12.col-sm-4
                            label.text-left ФИО ЕИО/представителя
                        .col-xs-12.col-sm-8 {{contract.contractor.legalEntity.representativeFullName}}
                    .form-group
                        .col-xs-12.col-sm-4
                            label.text-left Документ ЕИО/представителя
                        .col-xs-12.col-sm-8 {{contract.contractor.legalEntity.representativeDocument}}