kof-loading([isLoading]="isLoading")
    .x_panel
        .x_content
            .row.shop-selector
                .col-xs-12.col-sm-6
                    kof-select(*ngIf="shopItems.length",
                    [(ngModel)]="currentShopID",
                    [items]="shopItems",
                    (onChange)="navigate()",
                    [modelOptions]="{standalone: true}",
                    name='shopId')
            .row
                .col-xs-12
                    ul.nav.nav-tabs.bar_tabs(*ngIf="currentShopID")
                        li.hand-cursor([routerLink]="['dashboard']", [routerLinkActive]="['active']")
                            a Статистика
                        li.hand-cursor([routerLink]="['invoices']", [routerLinkActive]="['active']")
                            a Инвойсы
                        li.hand-cursor([routerLink]="['registry']", [routerLinkActive]="['active']")
                            a Реестры
                    .tab-content
                        router-outlet
