.panel.panel-default
    .panel-heading(ng-click="$ctrl.show()")
        a(href="#") Изменение магазина
        i.fa.pull-right.custom-chevron(ng-class="{'fa-chevron-down': $ctrl.showPanel, 'fa-chevron-right': !$ctrl.showPanel}")
    .panel-body(ng-show="$ctrl.showPanel")
        div(ng-show="$ctrl.details.shopDetails")
            modification-detail(display-name="'Название магазина'" value="$ctrl.details.shopDetails.name")
            modification-detail(display-name="'Описание'" value="$ctrl.details.shopDetails.description")
            modification-detail(display-name="'Месторасположение'" value="$ctrl.details.shopDetails.location")
        div(ng-show="$ctrl.details.contractor")
            modification-detail(display-name="'Наименование организации'" value="$ctrl.details.contractor.registeredName")
            modification-detail(display-name="'Тип юридического лица'" value="$ctrl.details.contractor.legalEntity")
