.x_panel
    .x_title
        h5 Данные магазина
    .x_content
        form.form-horizontal.form-label-left.css-form
            .form-group
                .col-xs-12.col-sm-4
                    label.text-left URL сайта магазина:
                .col-xs-12.col-sm-8
                    div {{shopCreation?.location?.url}}
            .form-group
                .col-xs-12.col-sm-4
                    label.text-left Название магазина:
                .col-xs-12.col-sm-8
                    div {{shopCreation?.details?.name}}
            .form-group
                .col-xs-12.col-sm-4
                    label.text-left Описание:
                .col-xs-12.col-sm-8
                    div {{shopCreation?.details?.description}}
.x_panel
    .x_title
        h5 Данные контракта
    .x_content
        kof-contractor-details([contractor]="contractor")
.x_panel
    .x_title
        h5 Средство вывода
    .x_content
        kof-payout-tool-details([payoutTool]="payoutTool")
