doctype html
kof-loading([isLoading]="isLoading")
    .btn-group.btn-group-justified.text-center(data-toggle="buttons", *ngIf="contractDecision.contract !== undefined")
        label.btn.btn-default((click)="selectOptionNew()")
            input(type="radio", name="way", value="new")
            span Добавить новое средство вывода
        label.btn.btn-default((click)="selectOptionExisting()")
            input(type="radio", name="way", value="existing")
            span Выбрать существующее средство вывода
    br
    kof-create-paytool(
        #createPaytoolRef,
        *ngIf="selectedOption === optionNew",
        [contractBankAccount]="contractDecision?.contractor?.bankAccount",
        (onChange)="onPayoutToolChange($event)"
    )
    kof-select-paytool(
        #selectPaytoolRef,
        *ngIf="selectedOption === optionExisting",
        [contractID]="contractDecision.contract.id",
        (onPayoutToolSelected)="onPayoutToolSelected($event)"
    )
    .actionBar
        .text-center
            a.btn.btn-danger(data-toggle="modal", data-target=".cancel-create-shop-modal", data-backdrop="false") Отмена
            a.btn.btn-success((click)="stepForward()", [ngClass]="{'buttonDisabled': selectedOption === undefined}") Вперед
