.row
    .col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
        .x_panel
            .x_content
                .form_wizard.wizard_horizontal
                    ul.wizard_steps
                        li.first_step
                            a([ngClass]="{'selected': currentStep === step.contract, 'done': currentStep > step.contract}")
                                span.step_no 1
                                span.step_descr Контракт
                        li
                            a([ngClass]="{'selected': currentStep === step.payoutTool, 'done': currentStep > step.payoutTool, 'disabled': currentStep < step.payoutTool}")
                                span.step_no 2
                                span.step_descr Средство вывода
                        li
                            a([ngClass]="{'selected': currentStep === step.shop, 'done': currentStep > step.shop, 'disabled': currentStep < step.shop}")
                                span.step_no 3
                                span.step_descr Данные магазина
                .ln_solid
                kof-contract-form(*ngIf="currentStep === step.contract", [form]="contractForm", [type]="type")
                kof-payout-tool-form(*ngIf="currentStep === step.payoutTool", [form]="payoutToolForm", [bankAccount]="contractForm.value.bankAccount", [type]="type")
                kof-shop-form(*ngIf="currentStep === step.shop", [form]="shopForm")
                .ln_solid
                .row
                    .col-xs-12
                        button.btn.btn-default(
                            [disabled]="currentStep === step.contract",
                            (click)="prev()") Назад
                        button.btn.btn-default.pull-right(
                            *ngIf="currentStep !== step.shop",
                            [disabled]="!validStep",
                            (click)="next()") Далее
                        button.btn.btn-primary.pull-right(
                            *ngIf="currentStep === step.shop",
                            [disabled]="!validStep",
                            (click)="createClaim()") Создать заявку
p-growl([(value)]="msgs" life="60000")