.x_panel
    .x_title
        h5 Данные магазина
    .x_content
        kof-shop-details([shop]="shop")
.x_panel
    .x_title
        h5 Данные контракта
    .x_content
        kof-contractor-details([contractor]="contractor")
.x_panel
    .x_title
        h5 Средство вывода
    .x_content
        kof-bank-account-details([bankAccount]="bankAccount")