form.form-horizontal.form-label-left.css-form
    .form-group
        .col-xs-12.col-sm-4
            label.text-left Наименование юр. лица:
        .col-xs-12.col-sm-8
            div {{contractor?.registeredName}}
    .form-group
        .col-xs-12.col-sm-4
            label.text-left ОГРН/ОГРНИП:
        .col-xs-12.col-sm-8
            div {{contractor?.registeredNumber}}
    .form-group
        .col-xs-12.col-sm-4
            label.text-left ИНН:
        .col-xs-12.col-sm-8
            div {{contractor?.inn}}
    .form-group
        .col-xs-12.col-sm-4
            label.text-left Почтовый адрес:
        .col-xs-12.col-sm-8
            div {{contractor?.postAddress}}
    .form-group
        .col-xs-12.col-sm-4
            label.text-left Фактический адрес:
        .col-xs-12.col-sm-8
            div {{contractor?.actualAddress}}
    .form-group
        .col-xs-12.col-sm-4
            label.text-left Должность ЕИО/представителя:
        .col-xs-12.col-sm-8
            div {{contractor?.representativePosition}}
    .form-group
        .col-xs-12.col-sm-4
            label.text-left ФИО ЕИО/представителя:
        .col-xs-12.col-sm-8
            div {{contractor?.representativeFullName}}
    .form-group
        .col-xs-12.col-sm-4
            label.text-left Данные документа ЕИО/представителя:
        .col-xs-12.col-sm-8
            div {{contractor?.representativeDocument}}
.ln_solid
kof-bank-account-details([bankAccount]="contractor?.bankAccount")