.row
    .col-xs-12.col-md-10.col-md-offset-1
        .x_panel
            .x_title
                h5 Действия
            .x_content
                .row
                    .col-xs-12.col-sm-6.col-md-3
                        kof-create-wallet-payout
        .x_panel
            .x_title
                h5 Поиск выплат
            .x_content
                kof-search-payouts-form((onReadyParams)="searchPayouts()")
                .ln_solid
                kof-search-payouts-result(*ngIf="payouts", [payouts]="payouts")
                kof-paginate(
                    [size]="totalCount",
                    [limit]="limit",
                    [offset]="offset",
                    [pagesOnScreen]="10",
                    (onChange)="onChangePage($event)")
