div(*ngIf="datasets.length > 0")
    canvas(
        baseChart,
        chartType="line",
        [datasets]="datasets",
        [labels]="labels",
        [options]="options",
        [colors]="chartColors",
        height="80"
    )
div(*ngIf="datasets.length === 0") Данные отсутствуют