kof-loading([isLoading]="isLoading")
    div(*ngIf="data.length > 0")
        canvas(
            baseChart,
            [data]="data",
            [labels]="labels",
            [chartType]="type",
            [options]="options",
            [colors]="chartColors",
            height="80"
        )
    div(*ngIf="data.length === 0") Данные отсутствуют