doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        base(href="/")
        title Private Office
        link(href="vendor.min.css" rel="stylesheet")
        link(href="styles.css" rel="stylesheet")
    body.nav-md
        tokenizer
        script(src="vendor.min.js")
        script(src="tokenization.js")
