div(*ngFor="let payment of searchResult?.payments")
    kof-payment-details([payment]="payment")
    kof-payment-refunds(
        [invoice]="invoice",
        [payment]="payment",
    )
    .payment-actions.row(*ngIf="isHoldActionsAvailable(payment)")
        .col-xs-12
            kof-payment-capture(
                [invoiceID]="invoice.id",
                [paymentID]="payment.id",
                (onChangeStatus)="changeStatus($event, payment)")
            kof-payment-cancel(
                [invoiceID]="invoice.id",
                [paymentID]="payment.id",
                (onChangeStatus)="changeStatus($event, payment)")
    .ln_solid
.row(*ngIf="searchResult?.isNextAvailable")
    .col-xs-12
        button.btn.btn-default.btn-block((click)="search()") Показать еще ...
div(*ngIf="searchResult?.totalCount === 0") Платежи отсутствуют