.row
    .col-md-12.col-sm-12.col-xs-12
        .x_panel.tile
            .x_title
                h3 Поиск
            .x_content
                search-form
.row
    .col-md-12.col-sm-12.col-xs-12
        .x_panel.tile
            .x_content
                search-result