.dataTables_paginate.paging_simple_numbers(ng-if="$ctrl.size > $ctrl.limit")
    ul.pagination.custom_pagination
        li.paginate_button.previous(ng-click="$ctrl.back()")
            a.fa.fa-chevron-left(href="")
        li.paginate_button(ng-repeat="page in $ctrl.pages | limitTo: $ctrl.pagesOnScreen : $ctrl.pageOffset" ng-class="{'active': page.active}" ng-click="$ctrl.select(page)")
            a(href="") {{page.label}}
        li.paginate_button.next(ng-click="$ctrl.forward()")
            a.fa.fa-chevron-right(href="")
