table.table.table-hover.table-striped
    thead
        tr
            th Номер
            th Сумма
            th Валюта
            th Дата окончания
            th Статус
            th Продукт
            th Описание
    tbody
        tr(ng-repeat="result in $ctrl.searchedInvoices")
            td {{result.id}}
            td {{result.amount | roubleCurrency}}
            td {{result.currency}}
            td {{result.dueDate | date : 'dd.MM.yyyy'}}
            td {{result.status | paymentStatus}}
            td {{result.product}}
            td {{result.description}}
