//i.fa.fa-cog.fa-spin.fa-5x.fa-fw(style="width:100%" ng-show="true")

table.table.table-hover.table-striped
    thead
        tr
            th ID
            th Shop ID
            th Amount
            th Currency
            th Due Date
            th Status
            th Product
            th Description
    tbody
        tr(ng-repeat="result in $ctrl.searchedInvoices | limitTo: $ctrl.itemsOnPage : $ctrl.begin")
            td {{result.id}}
            td {{result.shopID}}
            td {{result.amount}}
            td {{result.currency}}
            td {{result.dueDate}}
            td {{result.status}}
            td {{result.product}}
            td {{result.description}}
.row
    .col-md-12
        paginate(items-on-page="$ctrl.itemsOnPage" items-size="$ctrl.searchedInvoices.length" on-change="$ctrl.begin = begin")
