doctype html
kof-create-contract((onChange)="onContractorChange($event)")
kof-create-paytool(
    #createPaytool,
    (onChange)="onPayoutToolChange($event)",
    [contractBankAccount]="contractorBankAccount"
)
.form-group
    .col-xs-12.col-sm-6.col-sm-offset-3
        button.btn.btn-primary.pull-right(
            type="button",
            [disabled]="!isContractorReady || !isPayoutToolReady",
            (click)="createContract()"
        ) Создать контракт
        a.btn.btn-default(type="reset", (click)="navigateBack()") Назад
