doctype html
html(lang="en")
head
    base(href='/')
    title Private Office
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
body
    kof-app
    // Global site tag (gtag.js) - Google Analytics
    script(async="" src="https://www.googletagmanager.com/gtag/js?id=UA-131422254-1")
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-131422254-1');
