doctype html
html(lang="en")
head
    base(href='/')
    title Private Office
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
body
    kof-app
    // Global site tag (gtag.js) - Google Analytics
    script(async="" src="https://www.googletagmanager.com/gtag/js?id=UA-131422254-1")
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-131422254-1');
    // Yandex.Metrika counter
    script(type='text/javascript').
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
        ym(69481282, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
        });
    noscript
        div
            img(src='https://mc.yandex.ru/watch/69481282' style='position:absolute; left:-9999px;' alt='')
    // /Yandex.Metrika counter