kof-loading([isLoading]="isLoading")
    div
        canvas(
            baseChart,
            [data]="chartData.data",
            [labels]="chartData.cityNames",
            [chartType]="type",
            [options]="options",
            [colors]="chartColors",
            height=180
        )