form.css-form(novalidate, name="createInvoiceForm", #createInvoiceForm="ngForm")
    .row
        .col-sm-6.col-xs-12
            .form-group
                label.text-left Стоимость:
                    span.highlighted &nbsp;*
                input.form-control(type="number", name="amount", kofMin=10, required, [(ngModel)]="formData.amount", #amount="ngModel")
        .col-sm-6.col-xs-12
            .form-group
                label.text-left Окончание действия инвойса:
                    span.highlighted &nbsp;*
                p-calendar.search-form.ui-inputtext(name="dueDate", required, [(ngModel)]="formData.dueDate",
                showTime="true", dateFormat="dd.mm.yy", [minDate]="minDueDate", readonlyInput="true", #dueDate="ngModel")
    .form-group
        label.text-left Наименование предлагаемых товаров или услуг:
            span.highlighted &nbsp;*
        input.form-control(type="text", name="product", maxlength="100", required, [(ngModel)]="formData.product", #product="ngModel")
    .form-group
        label.text-left Описание предлагаемых товаров или услуг:
        textarea.form-control(rows="3", name="description", maxlength="1000", [(ngModel)]="formData.description", #description="ngModel")
    .form-group
        button.btn.btn-primary.pull-right(type="button", (click)="create()", [disabled]="!createInvoiceForm.valid") Создать