.row
    .col-xs-12.col-md-10.col-md-offset-1
        .x_panel
            .x_content
                ul.nav.nav-tabs.bar_tabs
                    li.hand-cursor([routerLink]="['reports', reportTypes.provisionOfService]", [routerLinkActive]="['active']")
                        a Акты
                    li.hand-cursor([routerLink]="['reports', reportTypes.paymentRegistry]", [routerLinkActive]="['active']")
                        a Реестр операций
                .tab-content
                    router-outlet
