.panel.panel-default
    .panel-heading((click)="show()")
        a Создано средство вывода
        i.fa.pull-right.custom-chevron([ngClass]="{'fa-chevron-down': showPanel, 'fa-chevron-right': !showPanel}")
    .panel-body(*ngIf="showPanel")
        kof-modification-detail([displayName]="'Банк'", [value]="payoutTool.params.bankAccount.bankName")
        kof-modification-detail([displayName]="'Расчетный счет'", [value]="payoutTool.params.bankAccount.account")
        kof-modification-detail([displayName]="'Корреспондентский счет'", [value]="payoutTool.params.bankAccount.bankPostAccount")
        kof-modification-detail([displayName]="'БИК'", [value]="payoutTool.params.bankAccount.bankBik")

