form.form-horizontal.form-label-left.css-form
    .form-group(*ngIf="deposit?.id")
        .col-xs-12.col-sm-4
            label.text-left Идентификатор поступления денежных средств:
        .col-xs-12.col-sm-8
            div {{deposit?.id}}
    .form-group(*ngIf="deposit?.status")
        .col-xs-12.col-sm-4
            label.text-left Статус:
        .col-xs-12.col-sm-8
            div.label.label-default([ngClass]="getLabelClass(deposit?.status)") {{deposit?.status | kofDepositStatus}}
    .form-group
        .col-xs-12.col-sm-4
            label.text-left Идентификатор кошелька:
        .col-xs-12.col-sm-8
            div {{deposit?.wallet}}
    .form-group
        .col-xs-12.col-sm-4
            label.text-left Идентификатор источника денежных средств:
        .col-xs-12.col-sm-8
            div {{deposit?.source}}
    .form-group
        .col-xs-12.col-sm-4
            label.text-left Дата и время запуска пополнения:
        .col-xs-12.col-sm-8
            div {{deposit?.createdAt | date: "dd.MM.yyyy HH:mm:ss"}}
    .form-group
        .col-xs-12.col-sm-4
            label.text-left Объём поступивших средств:
        .col-xs-12.col-sm-8
            div {{deposit?.body.amount | kofRoubleCurrency}} {{deposit.body.currency | kofCurrency}}
    .form-group(*ngIf="deposit?.fee")
        .col-xs-12.col-sm-4
            label.text-left Сумма коммисии:
        .col-xs-12.col-sm-8
            div {{deposit?.fee.amount | kofRoubleCurrency}} {{deposit.fee.currency | kofCurrency}}
    .form-group(*ngIf="deposit?.failure")
        .col-xs-12.col-sm-4
            label.text-left Причина ошибки:
        .col-xs-12.col-sm-8
            div {{deposit.failure.code}}