.col-md-3.left_col
    .left_col.scroll-view
        .navbar.nav_title
            a.site_title(href="/")
                span RBKmoney
        .clearfix
        #sidebar-menu.main_menu_side.hidden-print.main_menu
            .menu_section
                ul.nav.side-menu
                    li([routerLinkActive]="['active']", (click)="closeSubMenu()")
                        a([routerLink]=["/analytics"])
                            i.fa.fa-bar-chart-o
                            | Аналитика
                    li([routerLinkActive]="['active']", (click)="closeSubMenu()")
                        a([routerLink]=["/management"])
                            i.fa.fa-shopping-cart
                            | Управление магазинами
                    li([routerLinkActive]="['active']", (click)="toggleSubMenu('account')", [ngClass]="{'opened': isOpenedSubMenu.account}")
                        a
                            i.fa.fa-user
                            | Мои данные
                            span.fa.fa-chevron-down
                        ul.nav.child_menu
                            li([routerLinkActive]="['active']")
                                a([routerLink]=["/account/edit"]) Учетная запись
                            li([routerLinkActive]="['active']")
                                a([routerLink]=["/account/password"]) Пароль
                            li([routerLinkActive]="['active']")
                                a([routerLink]=["/account/totp"]) Аутентификатор
                            li([routerLinkActive]="['active']")
                                a([routerLink]=["/account/sessions"]) Сессии
                            li([routerLinkActive]="['active']")
                                a([routerLink]=["/account/applications"]) Приложения
                    li([routerLinkActive]="['active']", (click)="toggleSubMenu('api')", [ngClass]="{'opened': isOpenedSubMenu.api}")
                        a
                            i.fa.fa-cogs
                            | API
                            span.fa.fa-chevron-down
                        ul.nav.child_menu
                            li([routerLinkActive]="['active']")
                                a([routerLink]=["/api/webhooks"]) Webhooks
                            li([routerLinkActive]="['active']")
                                a([routerLink]=["/api/key"]) API ключ
                            li()
                                a(href="https://rbkmoney.github.io/docs", target="_blank") Документация

