form.form-horizontal.form-label-left.css-form
    .form-group
        .col-xs-12.col-sm-4
            label.text-left БИК банковской организации:
        .col-xs-12.col-sm-8
            div {{bankAccount?.bankBik}}
    .form-group
        .col-xs-12.col-sm-4
            label.text-left Наименование банка:
        .col-xs-12.col-sm-8
            div {{bankAccount?.bankName}}
    .form-group
        .col-xs-12.col-sm-4
            label.text-left Корреспондентский счет:
        .col-xs-12.col-sm-8
            div {{bankAccount?.bankPostAccount}}
    .form-group
        .col-xs-12.col-sm-4
            label.text-left Расчетный счет:
        .col-xs-12.col-sm-8
            div {{bankAccount?.account}}